  <!--##HHILL_REGION:{"name":"BREADCRUMBS"}-->
  <ul>
    <li class="drill-down-list-item folder-item">
      <a href="/entity/open.act?type=page&amp;id=ac1e8848c0a81e412d0bbd3c602465c1&amp;confId=9d463715c0a81e4173d4458705a86a39"
        target="_parent">Dale E. and Sarah Ann Fowler School of Engineering</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=e4575b53c0a81e4171516a3de9a415ec&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">About the Fowler School of Engineering</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=2fc0d10bc0a81e414260025ed2c100ce&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Degrees and Programs</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=bf4fb13dc0a81e415ebaa3d48844e529&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">For Students</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=b17bcc73c0a81e415ebaa3d454883720&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">For Faculty</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=b626d44ec0a81e415ebaa3d4f1ff08d5&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Partner With Us</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=ba538a62c0a81e415ebaa3d464afd002&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Contact</a>
    </li>
  </ul>
  <ul>
    <li class="drill-down-list-item folder-item">
      <a href="/entity/open.act?type=page&amp;id=e4575b53c0a81e4171516a3de9a415ec&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">About the School</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=b03693acc0a81e415ebaa3d457dd4bfd&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Equity, Diversity, and Inclusion</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=72bb9534c0a81e415ebaa3d44c33d11c&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Student and Alumni Achievement</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=9251a75ec0a81e415ebaa3d455867624&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Leadership and Staff</a>
    </li>
    <li class="drill-down-list-item">
      <a href="/entity/open.act?type=page&amp;id=bbb98d2dc0a81e415ebaa3d4ecc94bcb&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Faculty Profiles</a>
    </li>
  </ul>
  <ul>
    <li class="drill-down-list-item folder-item">
      <a href="/entity/open.act?type=page&amp;id=bbb98d2dc0a81e415ebaa3d4ecc94bcb&amp;confId=9d463768c0a81e4173d4458753902d71"
        target="_parent">Faculty Profiles</a>
    </li>
    <li class="drill-down-list-item current">
      <a href="/entity/open.act?type=page&amp;id=ac0d3f29c0a81e415ebaa3d4033bdebb&amp;confId=c21ebf6dc0a81e8a5b6f22bbada104f9"
        target="_parent">Program Faculty</a>
    </li>
  </ul>
  <ul>
    <li class="drill-down-list-item current folder-item">
      <a href="/entity/open.act?type=page&amp;id=ac0d3f29c0a81e415ebaa3d4033bdebb&amp;confId=c21ebf6dc0a81e8a5b6f22bbada104f9"
        target="_parent">Program Faculty</a>
    </li>
  </ul>