  <div class="school-social-media-icons" id="social_follow_us">
    <ul>
      <li class="school-social-media-icons__follow">Follow</li>
      <a aria-label="facebook"
        href="https://www.facebook.com/SchmidCollegeOfScienceTechnologyChapmanUniversity?fref=ts">
        <li class="facebook fab fa-facebook-square first"></li>
      </a>
      <a aria-label="blog" href="http://blogs.chapman.edu/scst/">
        <li class="blog fas fa-rss-square"></li>
      </a>
      <a aria-label="youtube" href="https://www.youtube.com/watch?v=PIuSc7mOnzc&amp;list=PLBAF625333A86D39F">
        <li class="youtube fab fa-youtube-square last"></li>
      </a>
    </ul>
  </div>