<div class="left-nav-drilldown" id="left-column-navigation" style="display: block; height: 253px;">
  <ul aria-expanded="true" class="root-left-nav" style="transform: translateX(-562px); transition: all 0.5s ease 0s;">






    <li class="drill-down-list-item home-menu">
      <span class="fas fa-home"></span>
      <a href="../../../index.aspx">Dale E. and Sarah Ann Fowler School of Engineering</a>
    </li>




    <li class="drill-down-list-item">
      <span class="drill-down-parent" tabindex="0">About the Fowler School of Engineering</span>
      <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
      <ul aria-expanded="false" class="drilldown-menu" style="display: block;">
        <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Back</li>



        <li class="drill-down-list-item"><a href="../../index.aspx">About the School</a></li>






        <li class="drill-down-list-item"><a href="../../diversity-and-inclusion.aspx">Equity, Diversity, and
            Inclusion</a></li>



        <li class="drill-down-list-item"><a href="../../student-alumni-achievement.aspx">Student and Alumni
            Achievement</a></li>



        <li class="drill-down-list-item"><a href="../../leadership-and-staff.aspx">Leadership and Staff</a></li>







        <li class="drill-down-list-item">
          <span class="drill-down-parent" tabindex="0">Faculty Profiles</span>
          <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
          <ul aria-expanded="false" class="drilldown-menu" style="display: block;">
            <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Back</li>



            <li class="drill-down-list-item"><a href="../index.aspx">Faculty Profiles</a></li>







            <li class="drill-down-list-item current">
              <a href="/engineering/about/faculty/program-faculty">Program Faculty</a>
            </li>







            <li class="drill-down-list-item">
              <a href="/engineering/about/faculty/affiliate-faculty">Affiliate Faculty</a>
            </li>



            <li class="drill-down-list-item"><a href="../faculty-directory.aspx">Faculty Directory</a></li>
          </ul>
        </li>
      </ul>
    </li>




    <li class="drill-down-list-item">
      <span class="drill-down-parent" tabindex="0">Degrees and Programs</span>
      <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
      <ul aria-expanded="false" class="drilldown-menu">
        <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Back</li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/index.aspx">Undergraduate Programs</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/bs-computer-engineering.aspx">B.S. Computer
            Engineering</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/bs-computer-science.aspx">B.S. Computer
            Science</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/bs-data-analytics.aspx">B.S. Data
            Analytics</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/bs-electrical-engineering.aspx">B.S.
            Electrical Engineering</a></li>






        <li class="drill-down-list-item"><a href="../../../academic-programs/bs-software-engineering.aspx">B.S. Software
            Engineering</a></li>






        <li class="drill-down-list-item"><a href="../../../academic-programs/minors.aspx">Minors</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/accelerated.aspx">Accelerated Graduate
            Programs</a></li>



        <li class="drill-down-list-item"><a href="../../../academic-programs/hands-on-learning.aspx">Hands-On
            Learning</a></li>



      </ul>
    </li>







    <li class="drill-down-list-item">
      <span class="drill-down-parent" tabindex="0">For Students</span>
      <span class="toggle-drilldown"><span class="fas fa-chevron-right"></span></span>
      <ul aria-expanded="false" class="drilldown-menu">
        <li class="menu-back" tabindex="0"><span class="fas fa-chevron-left"></span>Back</li>



        <li class="drill-down-list-item"><a href="../../../for-students/index.aspx">Resources for Students</a></li>



        <li class="drill-down-list-item"><a href="../../../for-students/engineering-scholarships.aspx">Engineering
            Scholarships</a></li>



        <li class="drill-down-list-item"><a href="../../../for-students/research-opportunities.aspx">Research
            Opportunities</a></li>



        <li class="drill-down-list-item"><a href="../../../for-students/beyond-the-classroom.aspx">Internships</a></li>






        <li class="drill-down-list-item"><a href="../../../for-students/recommendations.aspx">Computing
            Recommendations</a></li>






      </ul>
    </li>




    <li class="drill-down-list-item">
      <a href="/engineering/for-faculty">For Faculty</a>
    </li>




    <li class="drill-down-list-item">
      <a href="/engineering/partner-with-us">Partner With Us</a>
    </li>




    <li class="drill-down-list-item">
      <a href="/engineering/contact">Contact</a>
    </li>






  </ul>
</div>