<div class="wavy-masthead wavy-masthead__wrapper">
  <div class="wavy-masthead wavy-masthead__container dev">
    
<!-- VIDEO TOGGLE BUTTONS -->
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" aria-label="Pause masthead video" class="toggle-video wavy-masthead__toggle--pause toggle-video svg-inline--fa fa-pause-circle fa-w-16" data-bg-type="video" data-icon="pause-circle" data-prefix="fal" focusable="true" id="wavy-masthead__toggle--pause" role="img" tabindex="0" viewBox="0 0 512 512">
  <path d="M218 160h-20c-3.3 0-6 2.7-6 6v180c0 3.3 2.7 6 6 6h20c3.3 0 6-2.7 6-6V166c0-3.3-2.7-6-6-6zm96 0h-20c-3.3 0-6 2.7-6 6v180c0 3.3 2.7 6 6 6h20c3.3 0 6-2.7 6-6V166c0-3.3-2.7-6-6-6zM256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216z" fill="currentColor">
  </path>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" aria-label="Play masthead video" class="toggle-video svg-inline--fa fa-play-circle fa-w-16 wavy-masthead__toggle--play toggle-video" data-bg-type="video" data-icon="play-circle" data-prefix="fas" focusable="true" id="wavy-masthead__toggle--play" role="img" tabindex="0" title="Play video" viewBox="0 0 512 512">
  <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z" fill="currentColor"></path>
</svg>
<!-- END VIDEO TOGGLE BUTTONS -->

        
<div class="top-left-wave__wrapper">
  <span class="top-left-wave">
    <span class="invisible-box">
      <span class="faux-h2">
        Nick's Cool Page
      </span>
      <!-- <%= image_tag("masthead_corner_wave.png") %> -->
    </span>
  </span>
</div>
    
    <div class="wavy-masthead__wave-mask"><div class="vsc-controller"></div>
            <video autoplay="true" controls="false" data-video-state="playing" loop="true" muted="true" playsinline="true" src="https://classof2020.chapman.edu/wp-content/uploads/sites/2/2020/05/Hompage-Commencment-2018.mp4"></video>
      
    </div>
    <div class="wavy-masthead__text">
      <div class="wavy-masthead__header">
        
        <h2 data-display-single-image-or-video="true">
          a header
        </h2>
        
      </div>
      <div class="wavy-masthead__buttons">


        
        







<a aria-label="" class="button wavyMasthead__button button--red no-border" data-attribute="" href="/entity/open.act?type=page&amp;id=8bd990d4c0a81e8a65cef5df7e7bb3f5&amp;confId=8bd990d5c0a81e8a65cef5dfa4af9022" id="dodge" tabindex="0" target="_parent" title="">    Dodge
</a>







<a aria-label="" class="button wavyMasthead__button button--red no-border" data-attribute="" href="https://ufopanel.com/" id="ufo-panel" tabindex="0" title="">    UFO Panel
</a>


        <div class="button--dropdown__wrapper">
          <a class="button button--red no-border button--dropdown" href="">
            <span class="label">testing<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" class="svg-inline--fa fa-caret-down fa-w-10" data-icon="caret-down" data-prefix="fas" focusable="true" role="img" viewBox="0 0 320 512">
                <path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor"></path>
              </svg>
            </span>
          </a>
          <ul class="dropdown-menu">
            






<li>
  <a aria-label="" class="no-border" data-attribute="" href="https://duck.com" id="ufo-panel" tabindex="0" title="">    The First Child Item
</a>
</li>








<li>
  <a aria-label="" class="no-border" data-attribute="" href="/entity/open.act?type=page&amp;id=1a04a4e9c0a81e8a006059d0be6d3924&amp;confId=1a14f5fac0a81e8a006059d095c04290" id="ufo-panel" tabindex="0" target="_parent" title="">    A Second Child Item (Grid Block)
</a>
</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <span class="mobile__text">
    <div class="wavy-masthead__text mobile__text">

      <div class="wavy-masthead__buttons">


        
        







<a aria-label="" class="button wavyMasthead__button button--red no-border" data-attribute="" href="/entity/open.act?type=page&amp;id=8bd990d4c0a81e8a65cef5df7e7bb3f5&amp;confId=8bd990d5c0a81e8a65cef5dfa4af9022" id="dodge" tabindex="0" target="_parent" title="">    Dodge
</a>







<a aria-label="" class="button wavyMasthead__button button--red no-border" data-attribute="" href="https://ufopanel.com/" id="ufo-panel" tabindex="0" title="">    UFO Panel
</a>


        <div class="button--dropdown__wrapper">
          <a class="button button--red no-border button--dropdown" href="">
            <span class="label">
              Nick's Cool Links

              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="false" class="svg-inline--fa fa-caret-down fa-w-10" data-icon="caret-down" data-prefix="fas" focusable="true" role="img" viewBox="0 0 320 512">
                <path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor"></path>
              </svg>
            </span>
          </a>
          <ul class="dropdown-menu">
            






<li>
  <a aria-label="" class="no-border" data-attribute="" href="https://duck.com" id="ufo-panel" tabindex="0" title="">    The First Child Item
</a>
</li>








<li>
  <a aria-label="" class="no-border" data-attribute="" href="/entity/open.act?type=page&amp;id=1a04a4e9c0a81e8a006059d0be6d3924&amp;confId=1a14f5fac0a81e8a006059d095c04290" id="ufo-panel" tabindex="0" target="_parent" title="">    A Second Child Item (Grid Block)
</a>
</li>

          </ul>
        </div>
      </div>
    </div>
  </span>
  <!-- end mobile -->
</div>