<div class="wavy-masthead__container wavy-masthead__boxes-container">


  <h2 class="title"> Thee Boxes Masthead!</h2>
  <div class="wavy-masthead__boxes-wrapper">
    
         

        

    <a class="wavy-masthead-box no-border" href="/entity/open.act?type=page&amp;id=a557a773c0a81e8a02dba63da9ec4a38&amp;confId=a557a774c0a81e8a02dba63ddfcb3c52" target="_parent">
      













<div class="wavy-masthead__img--${_EscapeTool.xml($imageShape)} wavy-masthead__img" style="width: 100%; height: auto;">
  <img alt="" class="wavy-masthead__img img--${_EscapeTool.xml($imageShape)} " role="presentation" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/grid-block-widget/screen-shot-2021-06-14-at-1.36.28-pm.png" style="object-fit: 'cover'; object-position:'center center'; width: 100%; height: auto; " title="">
  
                      
                     
</div>

      <div class="wavy-masthead-box__title faux-h2">Box One?</div>
    </a>
    
         

        

    <a class="wavy-masthead-box no-border" href="/entity/open.act?type=page&amp;id=f74b25a7c0a81e8a02dba63deadacd65&amp;confId=f74b25a7c0a81e8a02dba63de0b65af3" target="_parent">
      













<div class="wavy-masthead__img--${_EscapeTool.xml($imageShape)} wavy-masthead__img" style="width: 100%; height: auto;">
  <img alt="" class="wavy-masthead__img img--${_EscapeTool.xml($imageShape)} " role="presentation" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/grid-block-widget/screen-shot-2021-06-14-at-1.36.34-pm.png" style="object-fit: 'cover'; object-position:'center center'; width: 100%; height: auto; " title="">
  
                      
                     
</div>

      <div class="wavy-masthead-box__title faux-h2">Another Box Title</div>
    </a>
    
         

        

    <a class="wavy-masthead-box no-border" href="https://duck.com">
      













<div class="wavy-masthead__img--${_EscapeTool.xml($imageShape)} wavy-masthead__img" style="width: 100%; height: auto;">
  <img alt="" class="wavy-masthead__img img--${_EscapeTool.xml($imageShape)} " role="presentation" src="http://placekitten.com/200/300" style="object-fit: 'cover'; object-position:'right center'; width: 100%; height: auto; " title="">
  
                      
                     
</div>
      <div class="wavy-masthead-box__title faux-h2">An External Link And A Longer-Than-Expected Title</div>
    </a>
    
         

        

    <a class="wavy-masthead-box no-border" href="/entity/open.act?type=page&amp;id=a557a773c0a81e8a02dba63da9ec4a38&amp;confId=a557a774c0a81e8a02dba63ddfcb3c52" target="_parent">
      













<div class="wavy-masthead__img--${_EscapeTool.xml($imageShape)} wavy-masthead__img" style="width: 100%; height: auto;">
  <img alt="" class="wavy-masthead__img img--${_EscapeTool.xml($imageShape)} " role="presentation" src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/nick-test/wavy-masthead/images/birks_zoom2.jpg" style="object-fit: 'cover'; object-position:'center center'; width: 100%; height: auto; " title="">
  
                      
                     
</div>

      <div class="wavy-masthead-box__title faux-h2">Something Else</div>
    </a>
      </div>

</div>