$palettes: map-merge($palettes, (
    'dap-discover-motivations': (
        'core': $black,
        'background': $white
    )
));

.dap-discover-motivations {
	padding: 40px 0 0px;

	@include breakpoint(medium) {
		padding: 40px 0 45px;
	}

	ul {
		list-style: none;
		margin: 0;

		@include breakpoint(medium) {
			display: flex;
		}

		// @include breakpoint(large) {
		// 	display: block;
		// }

	}

	.motivation {
		cursor: pointer;
		text-align: center;
		border-bottom: $transparent-white-border;
		float: left;
		width: 50%;
		display: block;
		position: relative;
		height: 105px;

		@include breakpoint(medium) {
			border-bottom: 0;
			border-right: $transparent-white-border;
			width: auto;
			height: 90px;
			flex: 1 0 auto;
		}

		@include breakpoint(large) {
			// width: 21.33333%;
			height: 82px;
			// flex: none;
			flex: 4;
		}

		&:hover {

			.no-touch &,
			.no-js & {

				.active-indicator {
					opacity: 1;
				}

			}

		}

		&:nth-child(odd) {
			border-right: $transparent-white-border;
		}

		&:first-child {

			.title {

				@include breakpoint(large) {
					left: 0;
					transform: translate(0, -50%);
				}

			}

		}

		&:nth-child(odd):last-child {
			border-bottom: 0;
			border-right: 0;
			width: 100%;
			height: 115px;

			@include breakpoint(medium) {
				height: 90px;
			}

			@include breakpoint(large) {
				height: 82px;
			}

			.title {

				@include breakpoint(large) {
					left: auto;
					right: 0;
					transform: translate(0, -50%);
				}

			}

		}

		&:first-child,
		&:nth-child(odd):last-child {

			@include breakpoint(medium) {
				width: auto;
			}

			@include breakpoint(large) {
				// width: 18%;
				flex: 3;
			}

			.title {

				@include breakpoint(large) {
					width: auto;
				}

			}

		}

		&.active {

			.active-indicator {
				opacity: 1;

				svg {
					fill: $burgundy;
				}
				
			}

		}

	}

	label {
		margin: 0;
		width: 100%;
		height: 100%;
		display: block;
		padding: 0 10px;

		input {
			display: none;
		}

	}

	.title {
		font-size: 16px;
		line-height: 1.05;
		font-weight: 400;
		padding: 0 0 12px;
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include breakpoint(medium) {
			white-space: nowrap;
		}

		@include breakpoint(large) {
			font-size: 18px;
			position: absolute;
		}

		em {
			white-space: nowrap;
			font-style: normal;
			font-size: 22px;
			line-height: 1.6;
			font-weight: 700;
			display: block;

			@include breakpoint(large) {
				font-size: 24px;
			}

		}

	}

	.active-indicator {
		opacity: 0;
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		transition: opacity $transition-time;

		@include breakpoint(medium) {
			top: -24px;
		}

		svg {
			fill: $white;
			width: 24px;
			height: 24px;
			display: block;
			margin: 0 auto;
		}

	}

}
