@import "helpers/_theme-variables";

$palettes: map-merge($palettes,
  ("dap-results": ("core": $black,
      "background": $white,
    ),
  ));

$dap-result-breakpoint: 600px;

.dap-results {
  background-color: $white;
  padding: 30px 0px;
  position: relative;

  .column:last-child:not(:first-child),
  .columns:last-child:not(:first-child) {
    float: left;
  }

  &.grid-view {
    .result {
      @include breakpoint($dap-result-breakpoint) {
        width: 50%;
      }

      @include breakpoint(medium) {
        width: 33.33333%;
      }

      @include breakpoint(large) {
        width: 25%;
      }

      &:nth-child(2n + 1) {
        @include breakpoint($dap-result-breakpoint) {
          clear: both;
        }

        @include breakpoint(medium) {
          clear: none;
        }
      }

      &:nth-child(3n + 1) {
        @include breakpoint(medium) {
          clear: both;
        }

        @include breakpoint(large) {
          clear: none;
        }
      }

      &:nth-child(4n + 1) {
        @include breakpoint(large) {
          clear: both;
        }
      }

      .result-content {
        padding-top: 12px;
      }

      .title {
        font-size: 18px;
      }

      .desc,
      button,
      .button {
        display: none;
      }
    }
  }

  &.list-view {
    .results-row {
      padding-left: 10px;
      padding-right: 10px;
    }

    .result {
      border-bottom: 1px solid $burgundy;
      padding: 30px 0px;

      .image {
        display: none;
      }

      .active-content,
      .active-content-toggle {
        display: none;
      }

      .title {
        font-size: 20px;
      }
    }
  }

  .results-row {
    transition: height $transition-time;
    position: relative;
  }

  .relative-wrapper {
    display: none;
  }

  .absolute-wrapper {
    position: absolute;
    width: 100%;
  }

  .result {
    opacity: 0;
    overflow: hidden;
    padding-top: 25px;
    width: 100%;
    transition: opacity $transition-time;
    display: none;

    &.ghost {
      padding-top: 0;
      height: 2px;
    }

    &.visible,
    .no-js & {
      display: block;
    }

    &.faded-in,
    .no-js & {
      opacity: 1;
    }

    &.active {
      .active-content {
        opacity: 1;
      }

      .relative-wrapper {
        display: block;
        padding-top: 30px;
        padding-bottom: 60px;
        min-height: max-content;
        margin-top: 0;
        margin-bottom: 200px;
      }

      .description {
        @include qbal-slideDownSubtle-enter;
        position: absolute;
        max-width: 1100px;
        background-color: $sand;
        padding: 60px;
        left: 0;
        margin-left: 0;
        line-height: 1.2rem;
        min-width: 100%;
        line-height: 2.2rem;

        .triangle {
          content: "";
          position: absolute;
          border: 10px solid transparent;
          border-top: 0;
          border-bottom-color: #f6f2e8;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
          margin-top: -10px;
        }

        .title-wrapper {
          font-family: $futura;
          font-size: 18px !important;
          padding-bottom: 24px;
        }

        .title {
          color: $red;
          font-weight: 800;
        }

        .program-description {
          padding-bottom: 24px;
        }
      }

      .active-content-toggle {
        &:before {
          border-color: transparent;
        }

        .icon {
          transform: rotate(180deg);
        }
      }
    }

    .image {
      background-color: $dusty-gray; // Backup if no image
      background-size: cover;
      background-position: $image-bg-position;
      width: 100%;
      position: relative;

      &:after {
        content: "";
        display: block;
        padding-top: 72.66667%;
      }
    }

    .active-content,
    .active-content-toggle {
      position: absolute;
    }

    .active-content {
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;

      .active-content-inner {
        overflow: hidden;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-height: 100%;
      }

      &,
      * {
        color: $white;
      }

      .desc {
        font-size: 14px;
        display: block;
        margin-top: 0;
        max-height: calc(100% - #{30px});
      }

      // scss-lint:disable ImportantRule
      a {
        font-size: 18px;
        font-weight: 700;
        display: block !important; // Overwrites plugin inline style
        margin-top: 12px;
      }

      // scss-lint:enable ImportantRule
    }

    .active-content-toggle {
      text-align: center;
      line-height: 52px;
      cursor: pointer;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      background-color: $red;
      border-radius: 50%;
      margin-right: 20px;
      margin-bottom: 10px;

      &:hover,
      &:focus {
        background-color: $red-hover;
      }

      &:focus {
        outline: 2px dotted $red;
      }

      // non-keyboard focus (aka targets mouse-only)
      &:focus:not(:focus-visible) {
        outline: none;
      }


      .icon {
        color: $white;
        width: 100%;
        height: 18px;
        display: block;
        transition: transform $transition-time;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    .result-content {
      .desc {
        max-height: 1.325em * 6;

        @include breakpoint(medium) {
          max-height: 1.325em * 4;
        }
      }
    }

    .title {
      line-height: 1.125;

      a {
        color: $burgundy;

        &:hover {

          // scss-lint:disable NestingDepth
          .no-touch &,
          .no-js & {
            color: $cardinal;
          }

          // scss-lint:enable NestingDepth
        }

        &:active {
          color: $red;
        }
      }
    }

    .campuses,
    .degree-types {
      margin: 5 0 0px;

      li {
        font-weight: 700;
        display: inline;

        &:after {
          content: "|";
          display: inline;
          margin: 0 8px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }

    .campuses li {
      color: $dark-gray;
      font-size: 14px;
      line-height: 1.2;
    }

    .degree-types li {
      color: $boulder;
      font-size: 16px;
    }

    .desc,
    button,
    .button {
      margin: 15 0 0px;
    }

    .desc {
      font-size: 16px;
      line-height: 1.325;
    }

    button,
    .button {
      border-radius: 3px;
      font-size: 18px;
      font-weight: 700;
      width: auto;
    }
  }

  .no-results {
    p {
      font-size: 16px;
      margin: 10 0 15px;
    }
  }
}

.dap-results-discover {
  display: none;

  .no-js & {
    display: block;
  }

  +.dap-form {
    background-color: $white;
    padding: 0;
  }
}


// DEBUG - REMOVE
#omni-nav-v2,
footer {
  // opacity: 0;
}

article.active a.active-content-toggle {
  background-color: $red-hover !important;
  box-shadow: 5px 5px 5px $panther-black;
}