<%= render 'widgets/shared/head' %>

  <div class="wavy-masthead__container">
    <div class="wavy-masthead">
      <img
        src="https://www.chapman.edu/campus-services/information-systems/working-and-teaching-remotely/_files/piazza-beckman-chapman-university.jpg"
        alt="">
      <video src=""></video>

      <div class="wavy-masthead__text">
        <div class="wavy-masthead__header">
          <h2>DALE E. FOWLER SCHOOL OF LAW </h2>
        </div>
        <div class="wavy-masthead__buttons">
          <a href="" class="button button--red">one thing</a>
          <a href="" class="button button--red">second thing</a>
          <div class="button--dropdown__wrapper">
            <a href="" class="button button--red">another thing</a>
            <div class="dropdown-menu">
              <a href="">child item</a>
              <a href="">child item</a>
              <a href="">child item</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>