<%= render 'widgets/shared/head' %>
<div id="main" role="main">
  <div class="primary-content one-column">





















































    <style>
      .side-panel-hero video {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    </style>
    <div class="side-panel-hero">

      <div class="hero-content">
        <section aria-labelledby="herocontentpanel" class="hero-content-panel">
          <h1 id="herocontentpanel">Dodge College </h1>
          <h2>of Film and Media Arts</h2>
          <p></p>
          <p>Recognized as one of the top ten film schools in the world and ranked <a
              href="https://www.thewrap.com/top-film-schools-ranked-2020-afi-usc/">#4 by The Wrap</a>&nbsp;among
            American film schools, Dodge College offers an array of&nbsp;degrees that&nbsp;<span>address the rapidly
              changing entertainment business, so you learn not only how to tell a story, but what it takes to pitch,
              produce, finance, market and distribute the stories you want to tell.</span> Our&nbsp;<a
              href="https://www.chapman.edu/dodge/facilities/index.aspx" rel="noopener noreferrer" target="_blank"
              title="Dodge College facilities.">state-of-the-art facilities</a>&nbsp;open to you 24/7, coupled with
            our&nbsp;<a href="http://www.chapman.edu/dodge/about/faculty-directory.aspx" rel="noopener noreferrer"
              target="_blank" title="Dodge College faculty directory.">award-winning faculty</a>, many of who&nbsp;still
            work in the industry, inspire our&nbsp;hands-on, collaborative learning environment.</p>
          <p></p>

          <nav class="calls-to-action">
            <a class="theme-bg-color theme-button" href="https://www.chapman.edu/dodge/programs/index.aspx">Explore
              Programs</a>
            <a class="theme-bg-color theme-button" href="https://www.chapman.edu/dodge/apply/index.aspx">Apply Today</a>
            <a class="theme-bg-color theme-button" href="https://www.chapman.edu/dodge/visit.aspx">Visit Us</a>
          </nav>

          <nav class="program-select" id="program-select-links">
            <span class="select-arrow theme-border-color"></span>
            <button class="hero-select-button theme-border-color" tabindex="0">Learn More about Dodge</button>
            <ul class="hero-select-list">
              <li><a href="https://www.chapman.edu/dodge/programs/undergraduate/index.aspx">Undergraduate Programs</a>
              </li>
              <li><a href="https://www.chapman.edu/dodge/programs/graduate/index.aspx">Graduate Programs</a></li>
              <li><a href="https://www.chapman.edu/dodge/industry/index.aspx">Industry Programs</a></li>
              <li><a href="https://www.chapman.edu/dodge/summer-programs/index.aspx">Summer Programs</a></li>
              <li><a href="https://www.chapman.edu/dodge/apply/index.aspx">Apply to Dodge</a></li>
              <li><a href="https://www.chapman.edu/dodge/about/index.aspx">About Dodge</a></li>
              <li><a href="https://www.chapman.edu/dodge/facilities/index.aspx">Facilities</a></li>
              <li><a href="https://www.chapman.edu/dodge/student-life/index.aspx">Student Life</a></li>
              <li><a href="https://www.chapman.edu/dodge/showcase/index.aspx">Student Work Showcase</a></li>
              <li><a href="https://www.chapman.edu/dodge/alumni-life/index.aspx">Alumni Life</a></li>
              <li><a href="https://www.chapman.edu/dodge/support-dodge/index.aspx">Support Dodge</a></li>
              <li><a href="https://www.chapman.edu/dodge/visit.aspx">Visit Dodge</a></li>
              <li><a href="https://www.chapman.edu/dodge/contact-us.aspx">Contact Us</a></li>
            </ul>
          </nav>
        </section>
      </div>

      <div class="cd-hero">
        <div class="cd-arrow-left"><a href="#">‹</a></div>
        <div class="cd-arrow-right"><a href="#">›</a></div>
        <div class="cd-slide-container">
          <ul class="cd-hero-slider autoplay">


            <li class="selected">
              <div class="theme-bg-color slider-bottom-border"></div>
              <div class="background-video-wrapper">
                <div class="vsc-controller" data-vscid="4kju3uv8v"></div>
                <article class="theme-bg-color-alpha">
                  <div class="vsc-controller" data-vscid="9h5l3n01n"></div>
                  <video autoplay="true" loop="true" muted="true"
                    poster="https://www.chapman.edu/dodge/_files/dodge-landing/fallback.png" data-vscid="9h5l3n01n">
                    <source src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-homepage-v6-test.mp4"
                      type="video/mp4">
                  </video>
                </article>
                <video autoplay="true" class="background-video" id="background-video" loop="true" muted="true"
                  poster="https://www.chapman.edu/dodge/_files/dodge-landing/fallback.png" data-vscid="4kju3uv8v">
                  <source src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-homepage-v6-test.mp4"
                    type="video/mp4">
                </video>
              </div>
            </li>
          </ul>
        </div>

        <div class="cd-slider-nav">
          <nav>
            <span class="cd-marker item-1"></span>
            <ul>
              <li class="selected">
                <a href="#">0</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>


    <!-- primary content no longer used but leave here until sure content is reassigned to default -->

    <!-- default region replaces primary content region -->
























































    <style>
      .text-with-cta-widget.text-with-cta-widget--default.text-with-cta-widget--white {
        border: none !important;
      }
    </style>
    <div class="hidden">currentpage: com.hannonhill.cascade.api.adapters.PageAPIAdapter@55bcefc2 <br> Content Type:
      Modular/1 Column /_cascade/formats/modular/widgets/Grid-Block-Widget (MODULAR) </div>


    <div class="hidden">templatetype: Modular/1 Column</div>




















    <div
      class="         messaging-widget  messaging-widget__2-column messaging-widget__light-bg messaging-widget__text-left ">
      <div class="outer-container">


        <div class="column media-column">
          <span class="center-media-helper"></span>
          <div class="media fluid-width-video-container"><iframe frameborder="0" height="315"
              src="https://player.vimeo.com/video/208236452" width="560"></iframe></div>
        </div>


        <div class="text-column">
          <div class="section-message">
            <h2 class="title">What's life like as a student at Dodge College?</h2>
            <div class="body editableContent">
              <p></p>
              <p><span>Dodge College is proud that when our students graduate, they stay connected and collaborate as
                  professionals. One example of this continued camaraderie is <a
                    href="https://www.replaycollective.com/" rel="noopener noreferrer" target="_blank">Replay
                    Collective</a></span><span>, a video marketing agency specializing in engagement-driven content
                  targeted for the millennial generation. Replay Collective was founded by Chapman students and got its
                  start by utilizing our&nbsp;<a
                    href="https://www.chapman.edu/research/institutes-and-centers/leatherby-center/index.aspx">LaunchLabs</a>.</span>
              </p>
              <p></p>
            </div>
            <div class="text-actions">
              <a class="theme-button"
                href="https://blogs.chapman.edu/dodge/20https://www.chapman.edu/14/alum-company-replay-collective-help-tell-the-dodge-college-story-in-new-promo-video/">Learn
                more about our collaboration with Replay Collective&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </div>




































    <div class="image-slider-wrapper">
      <div class="image-slider">
        <div class="item">
          <div class="container">
            <ul class="gallery list-unstyled cS-hidden widget-slides">





              <li class="selected"
                data-thumb="('https://www.chapman.edu/dodge/_files/dodge-landing/dodge-front-index.jpg');">

                <img alt="Dodge College" src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-front-index.jpg"
                  style="object-position: center; object-fit: cover !important;">

                <div class="content-container-slider">
                  <div class="content-text">
                    <h1 class="headline">Top 10 Film School</h1>

                    <p class="description line-clamp"><span>Dodge College is recognized as one of the top ten film
                        schools in the world and ranked&nbsp;<a
                          href="https://www.hollywoodreporter.com/lists/2020s-top-25-american-film-schools-ranked">#6
                          by&nbsp;<em>The Hollywood Reporter</em></a></span><span>&nbsp;<a
                          href="https://www.hollywoodreporter.com/lists/top-25-american-film-schools-ranked-1231343"></a>among
                        American film schools.</span></p>

                  </div>
                </div>
              </li>




              <li class="" data-thumb="('https://www.chapman.edu/dodge/_files/dodge-landing/dodge-filming-index.jpg');">

                <img alt="students filming"
                  src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-filming-index.jpg"
                  style="object-position: top; object-fit: cover !important;">

                <div class="content-container-slider">
                  <div class="content-text">
                    <h1 class="headline">From Classroom to Career</h1>

                    <p class="description line-clamp"><span>Students are encouraged to find their own voice and develop
                        their expertise and understanding of storytelling in a hands on, collaborative environment. The
                        skills garnered at Dodge College serves students throughout the program and professional area -
                        from classroom to career.&nbsp;</span></p>

                  </div>
                </div>
              </li>




              <li class=""
                data-thumb="('https://www.chapman.edu/dodge/_files/dodge-landing/international-group-index.jpg');">

                <img alt="Dodge student club"
                  src="https://www.chapman.edu/dodge/_files/dodge-landing/international-group-index.jpg"
                  style="object-position: center; object-fit: cover !important;">

                <div class="content-container-slider">
                  <div class="content-text">
                    <h1 class="headline">Film as a Global Language</h1>

                    <p class="description line-clamp"><span>Dodge College students use the world as their classroom and
                        participate in countless travel opportunities including cross-cultural filmmaking with&nbsp;the
                        Seoul Institute of the Arts and Dongseo University in Korea and the Taipei National University
                        of the Arts in Taiwan.</span></p>

                  </div>
                </div>
              </li>




              <li class=""
                data-thumb="('https://www.chapman.edu/dodge/_files/dodge-landing/duffer-brothers-index2.jpg');">

                <img alt="duffer brothers"
                  src="https://www.chapman.edu/dodge/_files/dodge-landing/duffer-brothers-index2.jpg"
                  style="object-position: top; object-fit: cover !important;">

                <div class="content-container-slider">
                  <div class="content-text">
                    <h1 class="headline">An Emphasis on the 'Business of the Business'</h1>

                    <p class="description line-clamp"><span>Connecting with professionals in the industry is an integral
                        part of the student experience at Dodge College. We offer&nbsp;</span><a
                        href="https://www.chapman.edu/dodge/industry/index.aspx" rel="noopener noreferrer"
                        target="_blank" title="Industry Programs at Dodge College"><strong>numerous opportunities
                          throughout the year</strong></a><span>&nbsp;to meet and speak with industry professionals,
                        many of whom graduated from Chapman, so you can network and learn how the business works from
                        the inside out.</span></p>

                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <li class="image-slider-play-toggle image-slider-play--rectangle">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-label="pause slider"
          class="image-slider-pause svg-inline--fa fa-pause fa-w-14" data-icon="pause" data-prefix="fas"
          focusable="true" role="img" tabindex="0" viewBox="0 0 448 512">
          <path
            d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"
            fill="currentColor">
          </path>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-label="play slider"
          class="image-slider-play svg-inline--fa fa-play fa-w-14" data-icon="play" data-prefix="fas" focusable="true"
          role="img" tabindex="0" viewBox="0 0 448 512">
          <path
            d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
            fill="currentColor">
          </path>
        </svg>

      </li>

    </div>





























    <!-- IF ONE COLUMN TEMPLATE -->
    <!-- IF CIRCLE -->
    <!-- END IF CIRCLE -->
    <!-- END IF ONE COLUMN TEMPLATE -->

    <!-- IF NOT ONE COL TEMPLATE -->
    <!-- END IF NOT ONE COL TEMPLATE -->































































    <div class="grid-block-widget__wrapper grid-block-widget__wrapper--white">
      <div class="inner-container">
        <div class="section-intro text-align--centered">
          <div class="section-intro__preheader">
            LEARN FROM INDUSTRY LEADERS
          </div>
          <h2 class="section-intro__header">
            Spring 2021 Chapman Master Classes
          </h2>
          <div class="section-intro__title">
            <span>The second season of the Chapman Master Classes features an exciting lineup of entertainment industry
              leaders and visionaries.</span>
          </div>
        </div>



        <div
          class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--5-col  grid-block-widget__container--circle grid-block-widget__container--display-all"
          data-columns="5" id="grid-block-widget__container--3">
















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Lena Waithe" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/lena1.jpg" style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Lena Waithe</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Screenwriter-actor,&nbsp;</span><em>Master of None</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Dee Dee Myers" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/deedee-meyers1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Dee Dee Myers</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Former White House&nbsp;press secretary&nbsp;and Warner Bros. head of communications</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Barry Jenkins" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/jenkins1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Barry Jenkins</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Writer-director,&nbsp;</span><em>Moonlight</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Babara Kopple" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/barbara1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Babara Kopple</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Documentarian</span><em>,&nbsp;American Dream</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Frank Marshall" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/marshall1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Frank Marshall</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Producer,</span><em>&nbsp;Jurassic World</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Jason Blum" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/jason-blum1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Jason Blum</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Producer</span><em>,&nbsp;Paranormal Activity</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Damien Chazelle" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/damien1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Damien Chazelle</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Director</span><em>,&nbsp;La La Land</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Bong Joon Ho" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/bong-joon-ho1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Bong Joon Ho</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Director,</span><em>&nbsp;Parasite</em>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="ed Sarandos" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/tedsarandos1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Ted Sarandos</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>CEO of Netflix</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--no-bg grid-block-widget--circle">

            <img alt="Pete Docter" class="grid-block-widget__image grid-block-widget__image--circle"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/docter1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--no-bg focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Pete Docter</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                <span>Head of Pixar</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--no-bg no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>

        </div>







        <div class="grid-block-widget__cta grid-block-widget__cta--centered futura-regular fw-bold"
          data-display-cta="yes">










          <a aria-label="" class="button border-bottom--none button--red" data-attribute=""
            href="https://blogs.chapman.edu/dodge/20https://www.chapman.edu/27/chapman-university-master-classes-spring-edition/"
            id="learn-more-about-chapman-master-classes" tabindex="0" title=""> Learn more about Chapman Master Classes
          </a>
        </div>
      </div>
    </div>





























    <!-- IF ONE COLUMN TEMPLATE -->
    <!-- IF CIRCLE -->
    <!-- END IF CIRCLE -->
    <!-- END IF ONE COLUMN TEMPLATE -->

    <!-- IF NOT ONE COL TEMPLATE -->
    <!-- END IF NOT ONE COL TEMPLATE -->































































    <div class="grid-block-widget__wrapper grid-block-widget__wrapper--red">
      <div class="inner-container">
        <div class="section-intro text-align--left-aligned">
          <div class="section-intro__preheader">

          </div>
          <h2 class="section-intro__header">
            Immerse Yourself
          </h2>
          <div class="section-intro__title">
            <sectionheaderparagraph>
            </sectionheaderparagraph>
          </div>
        </div>



        <div
          class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--2-col  grid-block-widget__container--landscape grid-block-widget__container--display-all"
          data-columns="2" id="grid-block-widget__container--4">
















          <div class="grid-block-widget grid-block-widget--red grid-block-widget--landscape">

            <img alt="students spotlight" class="grid-block-widget__image grid-block-widget__image--landscape"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/dodge-spotlight-2.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--red focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Dodge College News &amp; Stories</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
                Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire
                respect community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle.
                Network fellow teaching grand modernisation region distinguished emeritus nobel..Academic world-class
                institution scholarly global impact challenge. Intelligence, ingenuity esquire respect community
                engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow
                teaching grand modernisation region distinguished emeritus nobel..Academic world-class institution
                scholarly global impact challenge. Intelligence, ingenuity esquire respect community engagement.
                Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching grand
                modernisation region distinguished emeritus nobel..
                <p><span><a class="more-link" href="https://blogs.chapman.edu/dodge/"><span class="underline">View
                        latest news from Dodge</span></a></span></p>
                <p></p>
            </div>
            <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--red no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--red no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--red grid-block-widget--landscape">

            <img alt="documentary filmmakers" class="grid-block-widget__image grid-block-widget__image--landscape"
              src="https://www.chapman.edu/dodge/_files/dodge-landing/alumni-1.jpg"
              style="object-position: center center">


            <div
              class="grid-block-widget__title text-align--center grid-block-widget__title--red focus-no-border border-bottom--none">
              <span class="label border-bottom--none">Alumni Success Stories</span>
            </div>


            <div
              class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center text-align--center no-bg">
              <p>
              </p>
              <p><span><span>Check out where our alumni are working now and learn more about their most memorable Dodge
                    College experiences.</span></span></p>
              <p><span>
              <a class="more-link" href="https://blogs.chapman.edu/dodge/category/alumni/"><span
                      class="underline">Read more about Alumni Success</span></a><br></span></p>
              <p></p>
              <p>
                              Network fellow teaching grand modernisation region distinguished emeritus nobel..Academic world-class
</p>
            </div>
            <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--red no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--red no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>

        </div>






      </div>
    </div>





























    <!-- IF ONE COLUMN TEMPLATE -->
    <!-- IF CIRCLE -->
    <!-- END IF CIRCLE -->
    <!-- END IF ONE COLUMN TEMPLATE -->

    <!-- IF NOT ONE COL TEMPLATE -->
    <!-- END IF NOT ONE COL TEMPLATE -->































































    <div class="grid-block-widget__wrapper grid-block-widget__wrapper--white">
      <div class="inner-container">
        <div class="section-intro text-align--centered">
          <div class="section-intro__preheader">

          </div>
          <h2 class="section-intro__header">
            Student Work Showcase
          </h2>
          <div class="section-intro__title">
            Explore a selection of student projects, from narrative films to public relations campaigns
          </div>
        </div>



        <div
          class="grid-block-widget__container grid-block-widget__container--videos grid-block-widget__container--3-col  grid-block-widget__container-- grid-block-widget__container--display-all"
          data-columns="3" id="grid-block-widget__container--5">
















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/220079067" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="https://vimeo.com/showcase/1965724/video/220079067">
              <span class="label border-bottom--dotted">The Quiet Room | Short Film</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
                <span>DON'T FORGET TO LEAVE A NOTE. That's her only rule. When suicide-survivor Michael unwittingly
                  becomes the target of a psych ward urban legend, he must stop Hopeless Hattie’s rampage… and risk
                  being taken to The Quiet Room forever.</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/335251476" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="https://vimeo.com/335251476">
              <span class="label border-bottom--dotted">Embarko | Animation</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
                <span>A boy's plan to bake a birthday cake becomes disastrous when his scientist father's
                  latest</span><br><span>experiment gets added to the mix.</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/234751397" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="https://vimeo.com/327345496/c46772866b">
              <span class="label border-bottom--dotted">Skin Hunger | Short Film</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
                <span>Desperately lonely, an undocumented immigrant goes to greater and greater lengths to steal moments
                  of touch from those around her.</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/147633546" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="https://vimeo.com/showcase/1965726/video/147633546">
              <span class="label border-bottom--dotted">Under The Mango Tree | Documentary</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
                <span>Under the Mango Tree trains a sharp eye on the war-ravaged north of Uganda, where one bold NGO is
                  taking dramatic steps to bring together former rebel soldiers and victims of their violence.
                  Grassroots Reconciliation Group works in northern Uganda, setting up fascinating workshops and
                  programs among small rural communities where former fighters and victims of their brutality work side
                  by side in trying to rebuild lives ripped apart by decades of wanton violence. The film profiles two
                  such families, including one where a notorious ex-fighter and a woman abducted into sexual slavery as
                  a child, try to heal themselves by starting their own family.</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/288577659" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="">
              <span class="label border-bottom--dotted">Dirt (Teaser) | Television</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
              </p>
              <p class="first">Set on a Paiute Native American reservation, a girl named Nina struggles to find her
                missing sister, forced to navigate jurisdictional issues, corruption, and even resistance within her own
                family. This is the story of a girl confronting the harsh realities of her community and place in the
                world.</p>
              <p></p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>















          <div class="grid-block-widget grid-block-widget--white grid-block-widget--">

            <iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="true" frameborder="0" height="360"
              src="https://player.vimeo.com/video/219607109" width="640"></iframe>

            <a class="grid-block-widget__title text-align--left grid-block-widget__title--white focus-no-border border-bottom--none"
              href="https://vimeo.com/showcase/1965726/video/140822726">
              <span class="label border-bottom--dotted">Good Boy | Animation</span>
            </a>


            <div
              class="grid-block-widget__text grid-block-widget__text--black grid-block-widget__text--left text-align--left no-bg">
              <p>
                <span>When two delivery dogs on a job discover buried treasure in the mountains, their conflicting
                  interests lead to dire consequences.</span>
              </p>
            </div>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show More</span>
            <span
              class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--white no-bg"
              style="display:none;" tabindex="0">Show Less</span>
          </div>

        </div>







        <div class="grid-block-widget__cta grid-block-widget__cta--centered futura-regular fw-bold"
          data-display-cta="yes">










          <a aria-label="" class="button border-bottom--none button--red" data-attribute=""
            href="https://www.chapman.edu/dodge/showcase/index.aspx" id="explore-more-student-projects" tabindex="0"
            title=""> Explore More Student Projects
          </a>
        </div>
      </div>
    </div>







    <div
      class="         messaging-widget  messaging-widget__2-column messaging-widget__dark-bg messaging-widget__text-left ">
      <div class="outer-container">
        <div class="column media-column">
          <span class="center-media-helper"></span>
          <img alt="Stephen Galloway new Dean of Dodge College" class="media"
            src="https://www.chapman.edu/dodge/_files/stephen-galloway-dean-of-dodge.jpg">
        </div>


        <div class="text-column">
          <div class="section-message">
            <div class="category">Featured News</div>
            <h2 class="title">Stephen Galloway Named Dean of Chapman University Dodge College</h2>
            <div class="body editableContent">
              <p><span>On March 30, 2020, Chapman University announced that former executive editor and producer at The
                  Hollywood Reporter Stephen Galloway joined Chapman University as the Twyla Reed Martin Dean of Film
                  and Media Arts at&nbsp;</span>Dodge College of Film and Media Arts<span>.</span></p>
            </div>
            <div class="text-actions">
              <a class="theme-button"
                href="https://news.chapman.edu/20https://www.chapman.edu/30/stephen-galloway-named-dean-of-chapman-university-dodge-college-of-film-and-media-arts/">Read
                More About Dean Galloway&nbsp;</a>
            </div>
          </div>
        </div>
      </div>
    </div>


































    <div class="contact-footer-widget     contact-footer-widget__light-bg ">
      <div class="outer-container">
        <div class="content-cell left">
          <div class="content-wrap">
            <address class="contact-line-1">
              <address class="contact-line-1">
                <div class="footer-heading address name">Follow us on social! </div>
                <p class="address"></p>
              </address>
            </address>
            <address class="contact-line-2">
              <p class="address phone"></p>
            </address>
          </div>
        </div>
        <div class="content-cell right">
          <div class="content-wrap">
            <h2 class="footer-heading">
              <ul class="social-icon-list">



                <li>
                  <a class="social-link icon-facebook" href="https://www.facebook.com/DodgeCollege">
                    <span class="sr-only">Follow Us On Facebook</span>
                  </a>
                </li>



                <li>
                  <a class="social-link icon-instagram" href="https://www.instagram.com/dodgecollege/">
                    <span class="sr-only">Follow Us On Instagram</span>
                  </a>
                </li>



                <li>
                  <a class="social-link icon-twitter" href="https://twitter.com/cu_dodgecollege">
                    <span class="sr-only">Follow Us On Twitter</span>
                  </a>
                </li>
              </ul>
            </h2>
          </div>
        </div>
      </div>
    </div>

























    <div class="cta-footer-widget theme-bg-color ">
      <div class="outer-container">
        <div class="text-section">
          <h2> Take the Next Step
          </h2>
        </div>
        <div class="button-section">
          <div class="button-wrapper">
            <a class="footer-button theme-text-color" href="https://www.chapman.edu/dodge/programs/index.aspx">Explore
              Academic Programs</a>
          </div>
          <div class="button-wrapper">
            <a class="footer-button theme-text-color" href="https://www.chapman.edu/dodge/visit.aspx">Tour Dodge
              College</a>
          </div>
          <div class="button-wrapper">
            <a class="footer-button theme-text-color" href="https://www.chapman.edu/dodge/showcase/index.aspx">View
              Student Work</a>
          </div>
        </div>
      </div>
    </div>





























    <section id="campusMapWidget" style="position:relative !important;">
      <div class="campus-map">
        <div class="map-container">
          <div class="map-inner">
            <div class="box">
              <div class="box-inner">
                <div class="faux-h1 box-header">Chapman University Dodge College of Film and Media Arts </div>
                <div class="address-wrapper"> <span class="fas fa-map-marker-alt marker-icon"></span>
                  <a class="address-inner"
                    href="http://maps.google.com/?q=One University Drive Orange California 92866"><span
                      class="link-underline">One University Drive, Orange,<br> California 92866</span></a>
                  <a class="theme-bg-color theme-button" href="tel:(714) 997-6765">(714) 997-6765 <span
                      class="fas fa-phone"></span></a>
                  <a class="theme-button" href="mailto:dodgecollege@chapman.edu">dodgecollege@chapman.edu <span
                      class="fas fa-envelope"></span></a>
                </div>
              </div>
            </div>
          </div>
          <iframe id="map_frame" width="100%" height="100%"
            src="https://www.chapman.edu/about/maps-directions/campus-map/?id=1074&amp;tbh&amp;sbh#!ct/53481?ce/25600?mc/33.79072614008092,-117.85593688488008?z/17?sbc/?fh/?ph/?lh/"
            frameborder="0" scrolling="no" border="0" allow="geolocation"></iframe>
        </div>
      </div>
    </section>



  </div>
</div>