.fsSupporting {
  font-style: italic !important;
  margin-top: 0.6rem !important;
}

#fsSubmissionCheckmark~.fsSectionText {
  font-family: arial;
}

span.fsRequiredMarker {
  color: #a50034;
}

#fsSubmissionCheckmark~.fsSectionHeading {
  font-family: arial;
}

form.fsForm .hidden {
  display: inline !important;
  visibility: visible !important;
}

.fsborderradius .fsBody .fsSectionHeader {
  margin-bottom: 0px;
}

.fsBody .fsForm .fsSectionHeading {
  color: #a50034;
  line-height: 30px;
  text-align: center;
}

.fsBody .fsSectionHeader {
  padding: 20px 0px;
}

.fsBody,
.fsBody .fsForm {
  padding: 10px;
}

.fsBody .fsLabel {
  font-size: 16px;
  color: #231f20;
  font-weight: bold;
}

.wf-active .fsBody {
  font-family: "futura-pt", arial, san-serif;
}

.fsBody a {
  border-bottom: 1px dotted #a50034 !important;
}


/*WCAG*/
.fsBody p {
  color: black !important;
}

.fsValidationError {
  background-color: #a50034;
  -moz-box-shadow: 0 0 0 calc(5px - 1px) #a50034, 0 0 0 5px #a50034;
  -webkit-box-shadow: 0 0 0 calc(5px - 1px) #a50034, 0 0 0 5px #a50034;
  box-shadow: 0 0 0 calc(5px - 1px) #a50034, 0 0 0 5px #a50034;
}

.fsValidationError .fsLabel,
.fsValidationError .fsRequi#a50034Label,
.fsValidationError .fsRequi#a50034Marker {
  color: white !important;
}

div.fsError {
  border: 1px solid #a50034 !important;
  color: white !important;
  background-color: #a50034 !important;
  font-size: 18px !important;
}

.fsRowBody input[type="text"],
.fsRowBody input[type="email"],
.fsRowBody input[type="number"],
.fsRowBody input[type="tel"],
.fsForm textarea,
.fsSignature {
  color: black !important;
}

.fsValidationError .fsLabel,
.fsValidationError .fsRequiredLabel,
.fsValidationError .fsRequiredMarker {
  color: white !important;
}


.fsValidationError .fsMatrix,
.fsValidationError .fsOptionLabel,
.fsValidationError .fsSupporting {
  color: white !important;
  font-size: calc(8px + .5vw) !important;
}

@media all and (-ms-high-contrast:none) {
  .fsNextButton {
    display: block !important;
  }
}