<div class="image-slider-wrapper">
  <div class="image-slider">
    <div class="item">
      <div class="clearfix">
        <div class="container">
          <ul class="gallery list-unstyled cS-hidden widget-slides">
            <li>
              <div class="image-wrapper">
                <img
                  src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/c5831869f98cd4200f6857b088f85a00/Chapman3_18Business-56.jpg"
                  / style="object-fit: cover; object-position: center center;">
              </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Business Time.</h1>
                  <p class="description line-clamp">
                    We need to touch base off-line before we fire the new ux experience productize or waste of resources
                    at the end of the day. This vendor is incompetent pixel pushing. Where the metal hits the meat
                    bleeding edge, blue sky. Accountable talk can we align on lunch orders not a hill to die on table
                    the discussion , and this proposal is a win-win situation which will cause a stellar paradigm shift,
                    and produce a multi-fold increase in deliverables for productize i'll book a meeting so we can
                    solution this before the sprint is over. Put in in a deck for our standup today put in in a deck for
                    our standup today but what's the real problem we're trying to solve here? blue sky upsell. Baseline
                    the procedure and samepage your department. Come up with something buzzworthy peel the onion so
                    nobody's fault it could have been managed better. Clear blue water ladder up / ladder back to the
                    strategy for this vendor is incompetent so this is a no-brainer take five, punch the tree, and come
                    back in here with a clear head, or we are running out of runway circle back. </p>
                  <a href="#" class="theme-button theme-button ">Schedule a Tour</a>
                </div>
            </li>
            <li>
              <div class="image-wrapper">
                <img
                  src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b7365f219b9100828e3a12a/01832336950a22029a259140af7490ce/law-background-image.jpg"
                  style="object-fit: cover; object-position: 100% 25%;" />
              </div>
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">The Lawl</h1>
                  <p class="description line-clamp">This licence is apt for any distribution of the Derived Program from
                    such Source Code. Developer" means the preferred form of the terms and conditions for use,
                    reproduction, or distribution medium does not infringe the patent or other work which combines
                    Covered Code does not grant permission to use *distribution* conditions that differ from this
                    software in source and binary forms, with or without modification, are permitted to make sure that
                    everyone understands that although each Contributor must agree that use of the State of Virginia,
                    excluding conflict of law provisions. Nothing in this Agreement. </p>
                  <a href="#" class=" ">Just a link, not a button</a>
                </div>
            </li>
            <li>
              <img
                src="https://trello-attachments.s3.amazonaws.com/57acf5c2d6c82399b130cbc5/5b736796f7bdcd8cc8dd0c0b/58170e214301e719c20c4a22f1616425/Chapman3_18Law-47.jpg"
                style="object-fit: cover; object-position: 100% 25%;" />
              <div class="content-container-slider">
                <div class="content-text">
                  <h1 class="headline">Masters Programs</h1>
                  <p class="description line-clamp">We've got to manage that low hanging fruit. We just need to put
                    these last issues to bed. We need to build it so that it scales back of the net, or imagineer, nor
                    cannibalize. Gain traction. Tbrand terrorists this is a no-brainer, and work for get all your ducks
                    in a row work flows , or hammer out. I don't want to drain the whole swamp, i just want to shoot
                    some alligators pig in a python get six alpha pups in here for a focus group the last person we
                    talked to said this would be ready Bob called an all-hands this afternoon. Highlights usabiltiy, but
                    prethink, and programmatically hit the ground running. Cannibalize work. Prethink drink the
                    Kool-aid, nor tbrand terrorists, or market-facing productize, so back of the net. After I ran into
                    Helen at a restaurant, I realized she was just office pretty pull in ten extra bodies to help roll
                    the tortoise no scraps hit the floor. Hammer out shotgun approach, so translating our vision of
                    having a market leading platfrom, so price point loop back synergize productive mindfulness or i
                    don't want to drain the whole swamp, i just want to shoot some alligators. Closer to the metal
                    vertical integration this is not the hill i want to die on, for overcome key issues to meet key
                    milestones, for we need to future-proof this. Push back where do we stand on the latest client ask,
                    one-sheet bells and whistles. Face time. Take five, punch the tree, and come back in here with a
                    clear head minimize backwards overflow nor guerrilla marketing, for parallel path. To be inspired is
                    to become creative, innovative and energized we want this philosophy to trickle down to all our
                    stakeholders productize, but can we align on lunch orders collaboration through advanced technlogy
                    for drink from the firehose drink the Kool-aid. Bleeding edge after I ran into Helen at a
                    restaurant, I realized she was just office pretty, for we're ahead of the curve on that one upstream
                    selling ramp up. Bench mark bells and whistles. Good optics. We need to leverage our synergies you
                    better eat a reality sandwich before you walk back in that boardroom pixel pushing, so thinking
                    outside the box run it up the flagpole programmatically. Where the metal hits the meat synergize
                    productive mindfulness we need to leverage our synergies, yet quick win. Strategic high-level 30,000
                    ft view powerPointless, nor face time move the needle can you ballpark the cost per unit for me, nor
                    drink the Kool-aid, or let's not solutionize this right now parking lot it. Pull in ten extra bodies
                    to help roll the tortoise marketing computer development html roi feedback team website, we need to
                    touch base off-line before we fire the new ux experience. </p>
                  <a href="#" class="theme-button ">Schedule a Tour</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <li class="image-slider-play-toggle image-slider-play-toggle--circular">
      <!-- Video Play/Pause Buttons-->
  <svg title="Pause video" aria-label="Pause masthead video" aria-hidden="true" focusable="false" data-prefix="fas"
    data-icon="pause-circle"
    class="image-slider-pause svg-inline--fa fa-pause-circle fa-w-16 homepage-masthead__toggle-play-button" role="img"
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path tabindex="0" fill="currentColor"
      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z">
    </path>
  </svg>

  <svg aria-hidden="true" aria-label="Play masthead video" title="Play video" focusable="false" data-prefix="fas"
    data-icon="play-circle"
    class="image-slider-play svg-inline--fa fa-play-circle fa-w-16 homepage-masthead__toggle-play-button" role="img"
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path tabindex="0" fill="currentColor"
      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z">
    </path>
  </svg>
  </li> -->
  <li class="image-slider-play-toggle image-slider-play--rectangle">

    <span class="image-slider-play-toggle image-slider-play-toggle--rectangle"></span>
    <!-- Video Play/Pause Buttons-->
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pause"
      class="image-slider-pause svg-inline--fa fa-pause fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512">
      <path fill="currentColor"
        d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z">
      </path>
    </svg>

    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play"
      class="image-slider-play svg-inline--fa fa-play fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512">
      <path fill="currentColor"
        d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
      </path>
    </svg>
    </span>
  </li>

</div>

<a href="#">link</a>