<div class="collapsibles-widget" id="accordion-1">
  <h2 class="sectionHeader">Collapsible Region</h2>
  <div class="editableContent summaryText">Labore eu ullamco esse ut. Lorem in reprehenderit consequat consectetur ipsum
    Lorem velit est incididunt anim mollit id. Consequat ut labore adipisicing mollit reprehenderit dolore culpa sint
    elit amet id anim.<br><br>Officia dolore magna ullamco culpa reprehenderit mollit. Occaecat dolore officia nostrud
    do ad ad duis velit do minim. Amet voluptate sunt dolor adipisicing irure non ex ut duis. Amet laboris fugiat
    nostrud consectetur aliqua. Eu exercitation nisi ut sint laboris esse laboris ea. Reprehenderit magna eiusmod irure
    culpa.</div>
  <br>
  <div class="row">
    <div class="toggle-expand-collapse expand" data-toggle="collapsibles-widget__toggle" tabindex="0">Expand</div>
  </div>
  <div aria-expanded="false" class="accordion">
    <h3 class="header" role="button" tabindex="0">
      <span class="show"></span>
      <span class="hide"></span>
      Region 1
    </h3>

    <div class="content editableContent" style="display: none;">
      Labore eu ullamco esse ut. Lorem in reprehenderit consequat consectetur ipsum Lorem velit est incididunt anim
      mollit id. Consequat ut labore adipisicing mollit reprehenderit dolore culpa sint elit amet id anim.
    </div>

  </div>
  <div aria-expanded="false" class="accordion">
    <h3 class="header" role="button" tabindex="0">
      <span class="show"></span>
      <span class="hide"></span>
      Region 2
    </h3>

    <div class="content editableContent" style="display: none;">
      Labore eu ullamco esse ut. Lorem in reprehenderit consequat consectetur ipsum Lorem velit est incididunt anim
      mollit id.
    </div>

  </div>
  <div aria-expanded="true" class="accordion active">
    <h3 class="header" role="button" tabindex="0">
      <span class="show"></span>
      <span class="hide"></span>
      Region 3
    </h3>

    <div class="content editableContent" style="display: block;">
      Officia dolore magna ullamco culpa reprehenderit mollit. Occaecat dolore officia nostrud do ad ad duis velit do
      minim. Amet voluptate sunt dolor adipisicing irure non ex ut duis. Amet laboris fugiat nostrud consectetur aliqua.
      Eu exercitation nisi ut sint laboris esse laboris ea. Reprehenderit magna eiusmod irure culpa.
    </div>

  </div>
</div>