<div class="grid-block-widget-container">
  <div class="section-intro">
    <div class="section-intro__preheader"></div>
    <div class="section-intro__header"></div>

    <div class="section-intro__buttons">
      <div class="section-intro__button"></div>
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--landscape">
    <img src="http://placekitten.com/200/300" alt="presumably a kitten" />
    <div class="grid-block-widget__text">
      Academic world-class institution scholarly global impact challenge
    </div>
  </div>
</div>
