<script>
  $(function () {
    $('.grid-block-widget__container img').each(function () {
      var width = Math.floor(Math.random() * 200) + 200
      var height = Math.floor(Math.random() * 600) + 300
      $(this).attr(
        'src',
        ' https://placedog.net/' + width + '/' + height + '?random'
      )
    })
  })
</script>
<!-- Text Overflow -->
<h2>Text Overflow</h2>
<div
  class="grid-block-widget__container grid-block-widget__container--images grid-block-widget__container--3-col grid-block-widget__container--portrait"
  id="grid-block-widget__container--9"
>
  <div class="grid-block-widget grid-block-widget--portrait">
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/nick-test/2x3.jpg"
    />

    <div
      class="grid-block-widget__title text-align--center grid-block-widget__title--white"
    >
      A Very Clever Block Title!
    </div>
    <div
      class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center"
    >
      <p>
        Congratulations!Today is your day.You're off to Great Places!You're off
        and away!
      </p>
    </div>
  </div>

  <div class="grid-block-widget grid-block-widget--portrait">
    <img
      alt="Gizmo"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/gremlins-gizmo.jpg"
    />

    <div
      class="grid-block-widget__title text-align--center grid-block-widget__title--white"
    >
      A second block
    </div>
    <div
      class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center"
    >
      <p>
        Academic world-class institution scholarly global impact challenge.
        Intelligence, ingenuity esquire respect community engagement. Laureate
        emiratus graduands chancellor citizen procession quadrangle. Network
        fellow teaching grand modernisation region distinguished emeritus
        nobel.Academic world-class institution scholarly global impact
        challenge. Intelligence, ingenuity esquire respect community engagement.
        Laureate emiratus graduands chancellor citizen procession quadrangle.
        Network fellow teaching grand modernisation region distinguished
        emeritus nobel.Academic world-class institution scholarly global impact
        challenge. Intelligence, ingenuity esquire respect community engagement.
        Laureate emiratus graduands chancellor citizen procession quadrangle.
        Network fellow teaching grand modernisation region distinguished
        emeritus nobel.
      </p>
    </div>
  </div>

  <div class="grid-block-widget grid-block-widget--portrait">
    <img
      alt="Microsoft Bliss Again"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src="/renderfile/6fef14a3c04d744c610b81dac0a8d082/test-section/nick-test/2x3.jpg"
    />

    <div
      class="grid-block-widget__title text-align--center grid-block-widget__title--white"
    >
      A Third Block
    </div>
    <div
      class="grid-block-widget__text grid-block-widget__text--white grid-block-widget__text--center"
    >
      <p>
        Congratulations!Today is your day.You're off to Great Places!You're off
        and away!
      </p>
    </div>
  </div>
</div>

<!-- circle -->
<h2>circle</h2>
<div
  class="grid-block-widget__container 
  grid-block-widget__container--4-col
  grid-block-widget__images grid-block-widget__container--circle"
>
  <div class="grid-block-widget grid-block-widget--circle ">
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--circle grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p class="grid-block-widget__title grid-block-widget__title--sand">
        Wilkinson Colleges of Arts, Humanities, and Social Sciences
      </p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--circle grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--circle grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--circle grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--circle grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--circle"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>
</div>
<!-- LANDSCAPE -->
<h2>Landscape</h2>
<div class="section-intro">
  <div class="section-intro__preheader">
    A Preheader
  </div>
  <h2 class="section-intro__header">
    Thee Header
  </h2>
  <div class="section-intro__title">
    Academic world-class institution scholarly global impact challenge.
    Intelligence, ingenuity esquire respect community engagement. Laureate
    emiratus graduands chancellor citizen procession quadrangle. Network fellow
    teaching grand modernisation region distinguished emeritus nobel.
  </div>
  <div class="section-intro__buttons">
    <div class="section-intro__button">
      <a
        aria-label="A very clever aria label"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="/entity/open.act?type=page&amp;id=7554d971c0a81e8a57740fffd0872075&amp;confId=75558b74c0a81e8a57740fffd445c401"
        id="$customID"
        tabindex="0"
        target="_parent"
      >
        A Special Label
      </a>

      <a
        aria-label="duck duck go"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="https://duck.com"
        id="$customID"
        tabindex="0"
      >
        DDG
      </a>

      <a
        aria-label="University of Washington"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="http://www.washington.edu/"
        id="$customID"
        tabindex="0"
      >
        University of Washington
      </a>
    </div>
  </div>
</div>

<div
  class="grid-block-widget__container 
  grid-block-widget__container--4-col
  grid-block-widget__images grid-block-widget__container--landscape"
>
  <div class="grid-block-widget grid-block-widget--landscape ">
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--landscape grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p class="grid-block-widget__title">
        Wilkinson Colleges of Arts, Humanities, and Social Sciences
      </p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--landscape grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--landscape grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--landscape grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--landscape grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--landscape"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>
</div>

<!-- VIDEOS -->
<h2>Videos</h2>
<div
  class="grid-block-widget__container grid-block-widget__container--videos grid-block-widget__container--4-col grid-block-widget__container"
>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
  <div class="grid-block-widget grid-block-widget--">
    <iframe
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true"
      src="https://www.youtube.com/embed/48eAYnfgrAo"
      title="Embedded content from external source"
      width="560"
      height="315"
      frameborder="0"
    ></iframe>
    <div class="grid-block-widget__title">
      Charles Mingus - Fables of Faubus
    </div>
  </div>
</div>

<div class="section-intro">
  <div class="section-intro__preheader">
    A Preheader
  </div>
  <h2 class="section-intro__header">
    Thee Header
  </h2>
  <div class="section-intro__title">
    Academic world-class institution scholarly global impact challenge.
    Intelligence, ingenuity esquire respect community engagement. Laureate
    emiratus graduands chancellor citizen procession quadrangle. Network fellow
    teaching grand modernisation region distinguished emeritus nobel.
  </div>
  <div class="section-intro__buttons">
    <div class="section-intro__button">
      <a
        aria-label="A very clever aria label"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="/entity/open.act?type=page&amp;id=7554d971c0a81e8a57740fffd0872075&amp;confId=75558b74c0a81e8a57740fffd445c401"
        id="$customID"
        tabindex="0"
        target="_parent"
      >
        A Special Label
      </a>

      <a
        aria-label="duck duck go"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="https://duck.com"
        id="$customID"
        tabindex="0"
      >
        DDG
      </a>

      <a
        aria-label="University of Washington"
        class="button $bemButtonClass button--sand"
        data-attribute="$dataAttr"
        href="http://www.washington.edu/"
        id="$customID"
        tabindex="0"
      >
        University of Washington
      </a>
    </div>
  </div>
</div>

<div
  class="grid-block-widget__container 
  grid-block-widget__container--4-col
  grid-block-widget__images grid-block-widget__container--portrait"
>
  <div class="grid-block-widget grid-block-widget--portrait ">
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p class="grid-block-widget__title">
        Wilkinson Colleges of Arts, Humanities, and Social Sciences
      </p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--4-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__title grid-block-widget__title--sand">
      <p>Wilkinson Colleges of Arts, Humanities, and Social Sciences</p>
    </div>
  </div>
</div>
