<div class="section-intro">
  <div class="section-intro__preheader">
    A Preheader
  </div>
  <h2 class="section-intro__header">
    Thee Header
  </h2>
  <div class="section-intro__text">
    Academic world-class institution scholarly global impact challenge.
    Intelligence, ingenuity esquire respect community engagement. Laureate
    emiratus graduands chancellor citizen procession quadrangle. Network fellow
    teaching grand modernisation region distinguished emeritus nobel.
  </div>
  <div class="section-intro__buttons">
    <div class="section-intro__button">
      <a
        aria-label="A very clever aria label"
        class="button $bemButtonClass button--red"
        data-attribute="$dataAttr"
        href="/entity/open.act?type=page&amp;id=7554d971c0a81e8a57740fffd0872075&amp;confId=75558b74c0a81e8a57740fffd445c401"
        id="$customID"
        tabindex="0"
        target="_parent"
      >
        A Special Label
      </a>

      <a
        aria-label="duck duck go"
        class="button $bemButtonClass button--red"
        data-attribute="$dataAttr"
        href="https://duck.com"
        id="$customID"
        tabindex="0"
      >
        DDG
      </a>

      <a
        aria-label="University of Washington"
        class="button $bemButtonClass button--red"
        data-attribute="$dataAttr"
        href="http://www.washington.edu/"
        id="$customID"
        tabindex="0"
      >
        University of Washington
      </a>
    </div>
  </div>
</div>

<div
  class="grid-block-widget__container 
  grid-block-widget__container--5-col
  grid-block-widget__images grid-block-widget"
>
  <div class="grid-block-widget grid-block-widget--portrait ">
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--3-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--3-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--3-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--3-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>

  <div
    class="grid-block-widget grid-block-widget--portrait grid-block-widget--3-col"
  >
    <img
      alt="Microsoft Bliss"
      class="grid-block-widget__image grid-block-widget__image--portrait"
      src=" https://placedog.net/480/600?random"
    />
    <div class="grid-block-widget__text grid-block-widget__text--sand">
      Congratulations!Today is your day.You're off to Great Places!You're off
      and away!
    </div>
  </div>
</div>
