<div class="testimonial-widget testimonial-widget--white">
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img--circle testimonial-widget__img" style="width: ; height: ">
        <img
          alt=""
          class="lazy internal-image testimonial-widget__img img--circle"
          src="https://pbs.twimg.com/profile_images/626331479061233664/9BNQV22V_400x400.jpg"
          style="object-fit: ${_EscapeTool.xml($objectFit)}; object-position:${_EscapeTool.xml($objectPositionX)} ${_EscapeTool.xml($objectPositionY)}"
          title=""
        />
      </div>

      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">Ada Lovelace</div>
          <div class="testimonial-widget__department-title"></div>
        </div>
        <div class="testimonial-widget__body">Circle on White</div>
        <div class="testimonial-widget__cta">
          <a aria-label="" class="button testimonial-widget__button" data-attribute="" href="https://www.google.com" id="google" tabindex="0" title="">Google</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--sand">
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img--square testimonial-widget__img" style="width: ; height: ">
        <img
          alt=""
          class="lazy internal-image testimonial-widget__img img--square"
          src="https://news.artnet.com/app/news-upload/2018/01/GettyImages-463222797-256x256.jpg"
          style="object-fit: ${_EscapeTool.xml($objectFit)}; object-position:${_EscapeTool.xml($objectPositionX)} ${_EscapeTool.xml($objectPositionY)}"
          title=""
        />
      </div>

      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">Kayne West</div>
          <div class="testimonial-widget__department-title"></div>
        </div>
        <div class="testimonial-widget__body">Square on Sand</div>
        <div class="testimonial-widget__cta">
          <a aria-label="" class="button testimonial-widget__button" data-attribute="" href="https://www.google.com" id="google" tabindex="0" title="">Google</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--red">
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img--square testimonial-widget__img" style="width: ; height: ">
        <img
          alt=""
          class="lazy internal-image testimonial-widget__img img--square"
          src="http://d3g9pb5nvr3u7.cloudfront.net/authors/539a28913f3c0fd71ed4e43d/2131300937/256.jpg"
          style="object-fit: ${_EscapeTool.xml($objectFit)}; object-position:${_EscapeTool.xml($objectPositionX)} ${_EscapeTool.xml($objectPositionY)}"
          title=""
        />
      </div>

      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">Elon Musk</div>
          <div class="testimonial-widget__department-title"></div>
        </div>
        <div class="testimonial-widget__body">Square on red multislide</div>
        <div class="testimonial-widget__cta">
          <a aria-label="" class="text--link" data-attribute="" href="../../index.aspx" id="chapman-index" tabindex="1" title="">Chapman Index</a>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img--circle testimonial-widget__img" style="width: ; height: ">
        <img
          alt=""
          class="lazy internal-image testimonial-widget__img img--circle"
          src="https://news.artnet.com/app/news-upload/2021/03/GettyImages-grimes-256x256.jpg"
          style="object-fit: ${_EscapeTool.xml($objectFit)}; object-position:${_EscapeTool.xml($objectPositionX)} ${_EscapeTool.xml($objectPositionY)}"
          title=""
        />
      </div>

      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">Grimes</div>
          <div class="testimonial-widget__department-title">Musician and Wife of Elon Musk</div>
        </div>
        <div class="testimonial-widget__body">Circle. Slide 2</div>
        <div class="testimonial-widget__cta">
          <a aria-label="" class="text--link" data-attribute="" href="../../webinars/index.aspx" id="webinars-index" tabindex="1" title="">Webinars Index</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial-widget testimonial-widget--grey">
  <div class="testimonial-widget__slide" tabindex="0">
    <div class="testimonial-widget__row">
      <div class="testimonial-widget__img"></div>
      <div class="testimonial-widget__text">
        <div class="testimonial-widget__titles">
          <div class="faux-h2 testimonial-widget__faux-h2">Joey</div>
          <div class="testimonial-widget__department-title">Web Developer</div>
        </div>
        <div class="testimonial-widget__body">Joey broke things again. No image on grey</div>
        <div class="testimonial-widget__cta"></div>
      </div>
    </div>
  </div>
</div>
