<div class="text-editor-widget bg-color--white" img-shape="square" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="left">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Square Image No Buttons </h3>
    <h2>Text Alignment Left Text Vertical Alignment Top</h2>
    <div class="grid-text__float-container align-top">
      <div class="grid-text__img-container square"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"
          style=""></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--sand" img-shape="circle" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="right">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Circle Image No Buttons </h3>
    <h2>Text Alignment Left Text Vertical Alignment Middle</h2>
    <div class="grid-text__float-container align-middle">
      <div class="grid-text__img-container circle"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg" alt=" "></div>
      <p></p>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.</p>
      <p>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
        amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
        nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
      <p></p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--grey" img-shape="landscape" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="left">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Landscape Image No Buttons </h3>
    <h2>Text Alignment Left Text Vertical Alignment Bottom</h2>
    <div class="grid-text__float-container align-bottom">
      <div class="grid-text__img-container landscape"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p></p>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.</p>
      <p>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
        amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
        nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
      <p></p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--red" img-shape="portrait" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="stacked">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Portrait Image No Buttons </h3>
    <h2>Text Alignment Right Text Vertical Alignment Top</h2>
    <div class="grid-text__float-container align-top">
      <div class="grid-text__img-container portrait"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p></p>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
      <p></p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--red" img-shape="square" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="left">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Square Image No Buttons </h3>
    <h2>Text Alignment Right Text Vertical Alignment Middle</h2>
    <div class="grid-text__float-container align-middle">
      <div class="grid-text__img-container square"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p></p>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
      <p></p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--grey" img-shape="circle" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="left">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Circle Image No Buttons </h3>
    <h2>Text Alignment Right Text Vertical Alignment Bottom</h2>
    <div class="grid-text__float-container align-bottom">
      <div class="grid-text__img-container circle"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p></p>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.</p>
      <p>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
        amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
        nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
      <p></p>
    </div>
  </div>


</div>

<div class="text-editor-widget bg-color--white" img-shape="square" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="left">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Square Image With Buttons</h3>
    <h2>Text Alignment Left Text Vertical Alignment Top</h2>
    <div class="grid-text__float-container align-top">
      <div class="grid-text__img-container square"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
    </div>
  </div>

  <div class="button-container">

    <a class="white text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button White</a>

    <a class="red text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Red</a>

    <a class="black text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Black</a>
  </div>


</div>

<div class="text-editor-widget bg-color--black" img-shape="circle" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="right">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Circle Image With Buttons</h3>
    <h2>Text Alignment Left Text Vertical Alignment Middle</h2>
    <div class="grid-text__float-container align-middle">
      <div class="grid-text__img-container circle"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <div class="button-container">

    <a class="red text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Red</a>

    <a class="white text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button White</a>
  </div>


</div>

<div class="text-editor-widget bg-color--white" img-shape="landscape" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="stacked">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Landscape Image With Buttons</h3>
    <h2>Text Alignment Left Text Vertical Alignment Bottom</h2>
    <div class="grid-text__float-container align-bottom">
      <div class="grid-text__img-container landscape"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <div class="button-container">

    <a class="white text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button White</a>

    <a class="red text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Red</a>

    <a class="black text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Black</a>
  </div>


</div>

<div class="text-editor-widget bg-color--sand" img-shape="portrait" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="stacked">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Portrait Image With Buttons</h3>
    <h2>Text Alignment Right Text Vertical Alignment Top</h2>
    <div class="grid-text__float-container align-top">
      <div class="grid-text__img-container portrait"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <div class="button-container">

    <a class="white text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button White</a>

    <a class="red text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Red</a>

    <a class="black text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Black</a>
  </div>


</div>

<div class="text-editor-widget bg-color--grey" img-shape="square" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="stacked">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Square Image With Buttons</h3>
    <h2>Text Alignment Right Text Vertical Alignment Middle</h2>
    <div class="grid-text__float-container align-middle">
      <div class="grid-text__img-container square"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <div class="button-container">

    <a class="white text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button White</a>

    <a class="red text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Red</a>

    <a class="black text-editor-widget__button"
      href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
      target="_parent">Button Black</a>
  </div>


</div>

<div class="text-editor-widget bg-color--white" img-shape="circle" img-video="textImage" img-wrap="true"
  text-align="right" text-only-align="left">


  <div class="grid-text__wrap wrap-align-right">
    <h3>Text With Circle Image With Links</h3>
    <h2>Text Alignment Right Text Vertical Alignment Bottom</h2>
    <div class="grid-text__float-container align-bottom">
      <div class="grid-text__img-container circle"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <ul class="link-container">
    <li class="link-container__link">
      <a href="/entity/open.act?type=page&amp;id=7d731986c04d744c19cdbc8344c958c1&amp;confId=efbbe24fc0a81e410a9e1928473a6f92"
        target="_parent">Link One</a>
    </li>
  </ul>

</div>

<div class="text-editor-widget bg-color--black" img-shape="circle" img-video="textImage" img-wrap="true"
  text-align="left" text-only-align="stacked">


  <div class="grid-text__wrap wrap-align-left">
    <h3>Text With Image And With Links</h3>
    <h2>Text Alignment Left Text Vertical Alignment Middle</h2>
    <div class="grid-text__float-container align-middle">
      <div class="grid-text__img-container circle"><img
          src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg"></div>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis. &lt;/br&gt;<br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea
        nostrud esse aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur
        ut ipsum. Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
        <br><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse
        aliqua fugiat. Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum.
        Enim minim deserunt nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.
      </p>
    </div>
  </div>

  <ul class="link-container">
    <li class="link-container__link">
      <a href="https://google.com">Link One</a>
    </li>
    <li class="link-container__link">
      <a href="https://google.com">Link Two</a>
    </li>
    <li class="link-container__link">
      <a href="https://google.com">Link Three</a>
    </li>
    <li class="link-container__link">
      <a href="https://google.com">Link Four</a>
    </li>
    <li class="link-container__link">
      <a href="https://google.com">Link Five</a>
    </li>
    <li class="link-container__link">
      <a href="https://google.com">Link Six</a>
    </li>
  </ul>

</div>