<div class="text-editor-widget bg-color--white">



  <div class="grid-text__left align-top">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Left Vertical Alignment Middle</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/6CHs4x2uqcQ"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--sand">



  <div class="grid-text__left align-middle">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Left Vertical Alignment Middle</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/3Z_Ys3BO_4M"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--grey">



  <div class="grid-text__left align-bottom">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Left Vertical Alignment Bottom</h2>
    <span>
      <p>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
        occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
        adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
        Lorem duis</p>
    </span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/6CHs4x2uqcQ"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--black">



  <div class="grid-text__right align-top">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Right Vertical Alignment Top</h2>
    <span><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat.
      Enim amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
      nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/F1B9Fk_SgI0"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--red">



  <div class="grid-text__right align-middle">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Right Vertical Alignment Middle</h2>
    <span>
      <p><br>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
        amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
        nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
    </span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/VYOjWnS4cMY"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--black">



  <div class="grid-text__left align-bottom">
    <h3>Text With Video No Buttons</h3>
    <h2>Text Alignment Left Vertical Alignment Bottom</h2>
    <span>
      <p>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
        amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
        nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</p>
    </span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/6CHs4x2uqcQ"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--white">



  <div class="button-container">

    <a class="white text-editor-widget__button" href="../../research/index.aspx">Button White</a>

    <a class="red text-editor-widget__button" href="../../research/index.aspx">Button Red</a>

    <a class="black text-editor-widget__button" href="../../research/index.aspx">Button Black</a>
  </div>

  <div class="grid-text__left align-top">
    <h3>Text Video With Buttons</h3>
    <h2>Text Alignment Left Text Vertical Alignment Top</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/3Z_Ys3BO_4M"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--black">



  <div class="button-container">

    <a class="red text-editor-widget__button" href="../../research/index.aspx">Button Red</a>

    <a class="white text-editor-widget__button" href="../../research/index.aspx">Button White</a>
  </div>

  <div class="grid-text__left align-middle">
    <h3>Text Only With Buttons</h3>
    <h2>Text Alignment Left Text Vertical Alignment Middle</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/F1B9Fk_SgI0"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--white">



  <div class="button-container">

    <a class="white text-editor-widget__button" href="../../research/index.aspx">Button White</a>

    <a class="red text-editor-widget__button" href="../../research/index.aspx">Button Red</a>

    <a class="black text-editor-widget__button" href="../../research/index.aspx">Button Black</a>
  </div>

  <div class="grid-text__left align-bottom">
    <h3>Text Video With Buttons </h3>
    <h2>Text Alignment Left Text Vertical Alignment Bottom</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/irBP5FnksKc"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--sand">



  <div class="button-container">

    <a class="white text-editor-widget__button" href="../../research/index.aspx">Button White</a>

    <a class="red text-editor-widget__button" href="../../research/index.aspx">Button Red</a>

    <a class="black text-editor-widget__button" href="../../research/index.aspx">Button Black</a>
  </div>

  <div class="grid-text__right align-top">
    <h3>Text Video With Buttons</h3>
    <h2>Text Alignment Right Text Vertical Alignment Top</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/3Z_Ys3BO_4M"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--grey">



  <div class="button-container">

    <a class="white text-editor-widget__button" href="../../research/index.aspx">Button White</a>

    <a class="red text-editor-widget__button" href="../../research/index.aspx">Button Red</a>

    <a class="black text-editor-widget__button" href="../../research/index.aspx">Button Black</a>
  </div>

  <div class="grid-text__right align-middle">
    <h3>Text Video With Buttons </h3>
    <h2>Text Alignment Right Text Vertical Alignment Middle</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/VrDfSZ_6f4U"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--white">




  <ul class="link-container">
    <li class="link-container__link"><a href="../../research/index.aspx">Link One</a></li>
  </ul>
  <div class="grid-text__right align-bottom">
    <h3>Text Video With Links</h3>
    <h2>Text Alignment Right Text Vertical Alignment Bottom</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/Co0tTeuUVhU"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--sand">




  <ul class="link-container">
    <li class="link-container__link"><a href="../../research/index.aspx">Link One</a></li>
    <li class="link-container__link"><a href="../../research/index.aspx">Link Two</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Three</a></li>
  </ul>
  <div class="grid-text__left align-top">
    <h3>Text Video With Links</h3>
    <h2>Text Alignment Left Text Vertical Alignment Bottom</h2>
    <span>Proident minim minim eu fugiat do adipisicing aute. Tempor dolor pariatur fugiat occaecat nostrud consequat
      occaecat et cupidatat qui dolor ea. Commodo ex eiusmod consectetur nisi reprehenderit officia. Laborum do
      adipisicing anim sit dolor id. Nisi sint ut mollit laborum sit nisi adipisicing proident. Voluptate minim mollit
      Lorem duis.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/E58qLXBfLrs"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>

<div class="text-editor-widget bg-color--black">




  <ul class="link-container">
    <li class="link-container__link"><a href="https://google.com">Link One</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Two</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Three</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Four</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Five</a></li>
    <li class="link-container__link"><a href="https://google.com">Link Six</a></li>
  </ul>
  <div class="grid-text__left align-middle">
    <h3>Text Only With Links</h3>
    <h2>Text Alignment Left</h2>
    <span>Labore ex adipisicing labore cillum enim proident consectetur consequat ea nostrud esse aliqua fugiat. Enim
      amet Lorem esse et Lorem sit dolore officia qui. Esse minim incididunt pariatur ut ipsum. Enim minim deserunt
      nulla minim. Incididunt velit sit do reprehenderit enim irure nulla cillum dolore.</span>
  </div>
  <div class="grid-video__container"><iframe src="https://www.youtube.com/embed/E58qLXBfLrs"
      title="Embedded content from external source" width="400" height="225" frameborder="0"></iframe></div>

</div>