<div class="grid-block-widget__wrapper ">
  <div class="inner-container">
      <div class="section-intro text-align--left-aligned">
        <div class="section-intro__preheader">
          Please like and subscribe
        </div>
        <h2 class="section-intro__header">  
          Some Videos
        </h2>
        <div class="section-intro__title">     
          Academic world-class institution scholarly global impact challenge. Intelligence, ingenuity esquire respect community engagement. Laureate emiratus graduands chancellor citizen procession quadrangle. Network fellow teaching grand modernisation region distinguished emeritus nobel.
        </div>
      </div>
      
        
  
    <div class="grid-block-widget__container grid-block-widget__container--videos grid-block-widget__container--3-col  grid-block-widget__container-- grid-block-widget__container--display-all" data-columns="3" id="grid-block-widget__container--1">
    
  
    
          
      
    
      
      
          
  
      
    
      
      
              
              
    <div class="grid-block-widget grid-block-widget--sand grid-block-widget-- grid-block-widget--text-overflow" style="min-height: 425px;">
      
                             <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" frameborder="0" height="315" src="https://www.youtube.com/embed/2rO4mr_LPJs" width="560" title="Embedded content from external source"></iframe> 
          
          <div class="grid-block-widget__title text-align--left grid-block-widget__title--sand focus-no-border border-bottom--none">
          <span class="label border-bottom--none">Donald P. Kennedy Hall</span>
        </div>
            
        
            <div class="grid-block-widget__text grid-block-widget__text--sand grid-block-widget__text--left grid-block-widget__text--left grid-block-widget__text--truncated" data-scroll-height="154" aria-expanded="false">
          <p>
            Donald P. Kennedy Hall is home to the Chapman University Dale E. Fowler School of Law. The four-story law school building offers a well-appointed, contemporary, and comfortable learning environment for law students.
          </p>
        </div>
          <span class="grid-block-widget__reveal grid-block-widget__reveal--more grid-block-widget__reveal--sand " style="display: flex;" tabindex="0">Show More</span>
      <span class="grid-block-widget__reveal grid-block-widget__reveal--less grid-block-widget__reveal--sand " style="display: none;" tabindex="0">Show Less</span>
    </div>
    
      </div>
  
  
  
  
  
  
  </div>
  </div>