#left-column-navigation {

  &.left-nav-drilldown {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 1.4rem;
    background-color: $white;
    border: 1px solid #CFCFCF;
    overflow-x: hidden;

    ul {
      list-style: none;
    }

    li {
      margin: unset;
      list-style: none;
      font-family: "futura-pt", arial, sans-serif;
      will-change: background-color;

      &:focus-within {
        outline-color: $cu-red;
        outline-style: auto;
        outline-width: 5px;
      }
    }

    @include drill-down-menu-style(100%);

    @include respond(small) {
      display: none !important;
    }

    ul li.folder-item {
      justify-content: start;
      align-items: center;
      @include v(background-color, panther-black);
      color: $white;
      font-weight: bold;
      line-height: 1.6rem;
      font-family: $futura-regular;
      padding: 20px 15px 20px 20px;
      border-color: var(--color-cu-white);

      &.current a, & a {
        color: $white;
        padding: 0 15px 0px 10px;

        &:hover {
          color: $white;
        }

        &:visited {
          color: $white;
        }
  
        &:focus {
          outline-color: $cu-red;
          outline-style: none;
          outline-width: 5px;
        }
      }

      &.current a {
        &::before {
          content: "\25CF";
          color: white;
          position: absolute;
          left: 10px;
        }
      }
    }
    
    
  }

  .sf-hidden {
    opacity: 0;
    animation-delay: 150ms;
    animation: fadein 150ms forwards;
    -moz-animation: fadein 150ms forwards;
    -webkit-animation: fadein 150ms forwards;
    -o-animation: fadein 150ms forwards;
    animation-direction: forwards;
    -webkit-animation: fadein 150ms forwards;
  }
}