html {
  body {
    .text-with-cta-widget {
      ul {
        margin-left: 4rem;
      }

      .text-with-cta {
        &__text-container {
          @include respond(phone) {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            grid-auto-rows: 0;
            grid-auto-columns: 0;
            margin-bottom: 2rem;
          }

          @include respond(tab-port) {
            iframe {
              width: 100%;
            }
          }
        }

        &__title {
          @include respond(phone) {
            grid-row: 1 / span 1;
            margin: 1rem 0;
          }
        }

        &__text {
          @include respond(phone) {
            grid-row: 2 / span 1;
            margin-bottom: 1rem;
          }
        }

        &__buttons {
          float: right;
          flex-direction: column;
          display: flex;
          width: 25%;
          margin: 0 0 0 2rem;

          @include respond(phone) {
            float: none;
            grid-row: 3 / span 1;
            margin: 0;
            width: 100%;
          }
        }

        &__button {
          border: 1px solid $bg-silver-gray;
          min-height: 4rem;
          height: auto;
          padding: 10px;
          border-radius: 5px;
          font-family: $futura;
          margin: 0 0 0.5rem 0;

          a {
            border-bottom: none;
            font-weight: normal;
            color: $panther-black;
          }

          &.color--red {
            border: none;

            a {
              color: white;
            }
          }
        }
      }

      &--pacific {

        .text-with-cta__text-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;

          @include respond(phone) {
            grid-template-columns: 1fr;
          }
        }

        .text-with-cta__col-1 {
          display: grid;
          align-content: center;
          align-items: center;
        }

        .text-with-cta__title {
          margin-top: 0;
        }

        .text-with-cta__text-container {
          padding: 30px;
        }

        .text-with-cta__text-container {
          /* grid-template-columns: 1fr 1fr; */
          grid-template-columns: 1fr 0.5fr;

          @include respond(phone) {
            grid-template-columns: 1fr;
          }
        }

        .text-with-cta__buttons {
          /* float: right; */
          /* display: flex; */
          /* width: 25%; */
          /* margin: 0 0 0 2rem; */
          float: unset;
          display: grid;
          place-items: center;
          align-content: center;
          height: 100%;
          width: 90%;
        }

        .text-with-cta__button {
          width: 100%;
          justify-self: center;
        }

        .text-with-cta__buttons {
          width: 90%;
          margin: auto;

          @include respond(phone) {
            width: 100%;
          }

          a {
            font-weight: bold;
          }
        }

        .text-with-cta__title {
          font-weight: normal;
        }

        .text-with-cta__emphasis {
          font-weight: 800;
          text-transform: uppercase !important;
        }

        .text-with-cta__button+.text-with-cta__button {
          margin-top: 5px;
        }

        /* Inline #15 | http://localhost:3000/uninav/three_column */

        .text-with-cta__title {
          font-weight: normal;
        }


        .text-with-cta__button+.text-with-cta__button {
          margin-top: 5px;
        }

        .text-with-cta__text {
          font-weight: bold;
        }

        /* master.css | http://localhost:3000/_assets/master.css */

        h2,
        .faux-h2 {
          /* font-size: 2.4rem; */
          font-size: 3rem;
        }

        .text-with-cta-widget .text-with-cta__button {
          min-width: 200px;
          justify-self: center;
          max-width: max-content;
        }

        .text-with-cta__button:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

// // teal

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta-widget--teal {}

// .text-with-cta__text-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .text-with-cta__col-1 {
//   display: grid;
//   align-content: center;
//   align-items: center;
// }

// .text-with-cta__title {
//   margin-top: 0;
// }

// .text-with-cta__text-container {
//   padding: 30px;
// }

// .text-with-cta__text-container {
//   /* grid-template-columns: 1fr 1fr; */
//   grid-template-columns: 1fr 0.5fr;
// }

// .text-with-cta__col-1 {
//   // padding: 0 20px 0 20px;
// }

// /* master.css | http://localhost:3000/_assets/master.css */

// html body .text-with-cta-widget .text-with-cta__buttons {
//   /* float: right; */
//   /* display: flex; */
//   /* width: 25%; */
//   /* margin: 0 0 0 2rem; */
//   float: unset;
//   display: grid;
//   place-items: center;
//   align-content: center;
//   height: 100%;
// }

// html body .text-with-cta-widget .text-with-cta__button {
//   width: 100%;
//   justify-self: center;
// }

// .text-with-cta__buttons {
//   width: 100% ;
//   margin: auto ;

//   a {
//     font-weight: bold ;
//   }
// }

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta__title {
//   font-weight: normal;
// }

// .text-with-cta__emphasis {
//   font-weight: 800;
// }

// .text-with-cta__button+.text-with-cta__button {
//   margin-top: 5px ;
// }

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta__title {
//   font-weight: normal;
// }

// .text-with-cta__emphasis {
//   font-weight: 800;
// }

// .text-with-cta__button+.text-with-cta__button {
//   margin-top: 5px ;
// }

// .text-with-cta__text {
//   font-weight: bold;
// }

// /* master.css | http://localhost:3000/_assets/master.css */

// h2,
// .faux-h2 {
//   /* font-size: 2.4rem; */
//   font-size: 3rem;
// }

// html body .text-with-cta-widget .text-with-cta__button {
//   min-width: 200px;
//   justify-self: center;
//   max-width: max-content;
// }

// .text-with-cta__button:last-of-type {
//   margin-bottom: 0 ;
// }