html {
  body {
    .text-with-cta-widget {
      ul {
        margin-left: 4rem;
      }

      .text-with-cta {
        &__text-container {
          @include respond(phone) {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, auto);
            grid-auto-rows: 0;
            grid-auto-columns: 0;
            margin-bottom: 2rem;
          }

          @include respond(tab-port) {
            iframe {
              width: 100%;
            }
          }
        }

        &__title {
          @include respond(phone) {
            grid-row: 1 / span 1;
            margin: 1rem 0;
          }
        }

        &__text {
          @include respond(phone) {
            grid-row: 2 / span 1;
            margin-bottom: 1rem;
          }
        }

        &__buttons {
          float: right;
          flex-direction: column;
          display: flex;
          width: 25%;
          margin: 0 0 0 2rem;

          @include respond(phone) {
            float: none;
            grid-row: 3 / span 1;
            margin: 0;
            width: 100%;
          }
        }

        &__button {
          border: 1px solid $bg-silver-gray;
          min-height: 4rem;
          height: auto;
          padding: 10px;
          border-radius: 5px;
          font-family: $futura;
          margin: 0 0 0.5rem 0;

          display: flex;
          justify-self: center;
          justify-content: center;

          a {
            border-bottom: none;
            font-weight: bold;
            color: $panther-black;
          }

          &.color--red {
            border: none;

            &:hover,
            &:focus {
              background-color: lighten($cu-red, 8%);
              transition: 350ms linear;
            }

            a {
              color: $white;
              font-weight: bold;
            }
          }
        }
      }

      &--default {
        margin-bottom: 30px;
      }

      &--pacific,
      &--cu-safely-back {

        .text-with-cta__text-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;

          @media all and (-ms-high-contrast:none) {
            display: flex;
          }

          @include respond(phone) {
            grid-template-columns: 1fr;
          }
        }

        .text-with-cta__col-1 {
          display: grid;
          align-content: center;
          align-items: center;

          @include respond(tab-port) {
            padding-right: 20px;
          }

          @media all and (-ms-high-contrast:none) {
            display: inline-block;
            width: 70%;
          }

        }

        .text-with-cta__col-2 {
          @media all and (-ms-high-contrast:none) {
            display: inline-block;
            width: 30%;
            float: right;
            right: 0px;
          }

        }

        .text-with-cta__title {
          margin-top: 0;
        }


        .text-with-cta__text-container {
          /* grid-template-columns: 1fr 1fr; */
          grid-template-columns: 1fr 0.5fr;
          padding: 30px;

          @include respond(phone) {
            grid-template-columns: 1fr;
          }
        }

        .text-with-cta__buttons {
          /* float: right; */
          /* display: flex; */
          /* width: 25%; */
          /* margin: 0 0 0 2rem; */
          float: unset;
          display: grid;
          place-items: center;
          align-content: center;
          height: 100%;
          width: 90%;

          @include respond(tab-port) {
            padding-top: 20px;
          }

          @media all and (-ms-high-contrast:none) {
            display: block;
          }
        }

        .text-with-cta__button {
          --padding-top: 15px;
          --padding-bottom: 15px;
          width: 100%;
          justify-self: center;
          justify-content: center;
          font-weight: bold;
        }



        .text-with-cta__buttons {
          width: 90%;
          margin: auto;

          @include respond(phone) {
            width: 100%;
          }

          a {
            font-weight: bold;
          }
        }

        .text-with-cta__title {
          font-weight: normal;
        }

        .text-with-cta__emphasis {
          font-weight: 800;
          text-transform: uppercase !important;
        }

        .text-with-cta__button+.text-with-cta__button {
          margin-top: 5px;
        }

        /* Inline #15 | http://localhost:3000/uninav/three_column */

        .text-with-cta__title {
          font-weight: normal;
        }


        .text-with-cta__button+.text-with-cta__button {
          margin-top: 5px;
        }

        .text-with-cta__text {
          font-weight: 400;
        }

        /* master.css | http://localhost:3000/_assets/master.css */

        h2,
        .faux-h2 {
          /* font-size: 2.4rem; */
          font-size: 3rem;
        }

        .text-with-cta-widget .text-with-cta__button {
          min-width: 200px;
          justify-self: center;
          max-width: max-content;
        }

        .text-with-cta__button:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &.one-column-template {
    .text-with-cta-widget {
      display: flex;
      justify-content: center;
      max-width: 1136px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 50px;
      padding-top: 20px;
      padding-bottom: 20px;

      @include respond(phone) {
        padding-bottom: 10px;
        margin-bottom: 0;
      }

      +[class*="-widget"] {
        margin-top: 50px;
      }

      .text-with-cta__text-container {
        max-width: 804px;
        padding-bottom: 30px;
        margin-bottom: 0;
      }


      &--default {
        @include respond(phone) {
          .text-with-cta__buttons {
            padding-top: 10px;
          }

          padding-bottom: 30px;
        }

        background-color: $white;

        .text-with-cta__text-container {
          background-color: $white;
          max-width: 1136px;

          @include respond(tab-port) {
            padding: 0 30px 0 30px;
          }
        }

        .text-with-cta__title {
          justify-content: center;
        }

        .text-with-cta__text-container {
          max-width: 804px;
        }

        .text-with-cta-widget {
          background-color: $white;
        }
      }
    }

    .one-col-spacer {
      height: 0px;
      display: none;
    }

    .primary-content .text-with-cta-widget:last-of-type {
      margin-bottom: 0;
    }

    .primary-content .text-with-cta-widget:last-of-type+.one-col-spacer {
      height: 50px;
      position: relative;
      display: block;
    }
  }
}

// 2. Background color options:
// *note: remove school color option.
// a. $white #FFF
// b. chapman red #a50034
// b. sand #f6f2e8
// c. panther black #231f20 (if this option is selected, text will switch to $white)
// d. covid-theme (pacific) #009CA6

// // teal

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta-widget--teal {}

// .text-with-cta__text-container {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .text-with-cta__col-1 {
//   display: grid;
//   align-content: center;
//   align-items: center;
// }

// .text-with-cta__title {
//   margin-top: 0;
// }

// .text-with-cta__text-container {
//   padding: 30px;
// }

// .text-with-cta__text-container {
//   /* grid-template-columns: 1fr 1fr; */
//   grid-template-columns: 1fr 0.5fr;
// }

// .text-with-cta__col-1 {
//   // padding: 0 20px 0 20px;
// }

// /* master.css | http://localhost:3000/_assets/master.css */

// html body .text-with-cta-widget .text-with-cta__buttons {
//   /* float: right; */
//   /* display: flex; */
//   /* width: 25%; */
//   /* margin: 0 0 0 2rem; */
//   float: unset;
//   display: grid;
//   place-items: center;
//   align-content: center;
//   height: 100%;
// }

// html body .text-with-cta-widget .text-with-cta__button {
//   width: 100%;
//   justify-self: center;
// }

// .text-with-cta__buttons {
//   width: 100% ;
//   margin: auto ;

//   a {
//     font-weight: bold ;
//   }
// }

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta__title {
//   font-weight: normal;
// }

// .text-with-cta__emphasis {
//   font-weight: 800;
// }

// .text-with-cta__button+.text-with-cta__button {
//   margin-top: 5px ;
// }

// /* Inline #15 | http://localhost:3000/uninav/three_column */

// .text-with-cta__title {
//   font-weight: normal;
// }

// .text-with-cta__emphasis {
//   font-weight: 800;
// }

// .text-with-cta__button+.text-with-cta__button {
//   margin-top: 5px ;
// }

// .text-with-cta__text {
//   font-weight: bold;
// }

// /* master.css | http://localhost:3000/_assets/master.css */

// h2,
// .faux-h2 {
//   /* font-size: 2.4rem; */
//   font-size: 3rem;
// }

// html body .text-with-cta-widget .text-with-cta__button {
//   min-width: 200px;
//   justify-self: center;
//   max-width: max-content;
// }

// .text-with-cta__button:last-of-type {
//   margin-bottom: 0 ;
// }