$sides: (
  "b": "bottom",
  "t": "top",
  "l": "left",
  "r": "right",
);
@each $prefix, $value in $sides {
  @for $i from 0 through 1000 {
    html body .m#{$prefix} {
      &#{($i * 1)} {
        margin-#{$value}: #{($i * 1)}px !important;
      }
    }
    html body .p#{$prefix} {
      &#{($i * 1)} {
        padding-#{$value}: #{($i * 1)}px !important;
      }
    }
  }
}

html body {
  // ONE COLUMN
  .one-column {
    // INTRO SECTION
    .section-intro {
      margin-top: 0;

      &__title {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &__text {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &__buttons {
        padding: 0;
        margin-top: 25px;
        margin-bottom: 25px;
      }

      @include respond(phone) {
        padding: 32px 16px;
      }
    }
    // END INTRO SECTION

    .grid-block-widget__wrapper {
      .grid-block-widget__text--red {
        color: $white;
      }

      padding-top: 60px;
      padding-bottom: 60px;

      .grid-block-widget {
        &__title {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 10px;
        }
        &__text {
          p {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .grid-block-widget__reveal {
          padding-left: 0;
          padding-right: 0;
        }

        .pl24 {
          padding-left: 24 !important;
        }
        .pr24 {
          padding-right: 24 !important;
        }
      }

      &--black {
        .section-intro {
          &__preheader {
            color: $white;
          }
        }

        .grid-block-widget {
          &__title {
            color: $white;

            &--white {
              color: $panther-black;
            }
          }
        }
        .slick-dots li button {
          background-color: $white;
        }
      }

      &--red {
        .section-intro__preheader {
          color: $white !important;
        }
        .grid-block-widget {
          &__title {
            color: $white;
          }
        }
        a.button--black {
          border: 1px solid $panther-black !important;

          &:focus {
            border: 2px dotted $white;
          }
        }
        .button.button--red {
          background-color: white;
          color: black;
          // border: none;

          &:hover,
          &:focus {
            transition: 300ms linear;
            background-color: $cu-light-grey !important;
          }
          &:focus {
            border: 2px dotted $white;
          }
        }
        a.grid-block-widget__button--transparent {
          color: $white !important;
          &:hover,
          &:focus {
            background-color: transparent !important;
          }
          &:focus {
            outline-color: $white !important;
          }
        }
      }

      &--white {
        .grid-block-widget {
          &__title {
            color: $cu-red;
          }

          &__text {
            color: $panther-black;
          }
        }
      }

      &--sand {
        .grid-block-widget {
          a {
            color: $cu-red;
          }

          &__title {
            color: $cu-red;
          }

          &__text {
            color: $panther-black;
          }
        }
      }

      &--red {
        a.button--red {
          box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.6);

          &:hover,
          &:focus,
          &:focus-within {
            background-color: $red-hover;
            box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.9);
          }
        }

        .slick-dots li button {
          background-color: white;
        }
      }

      button.slick-arrow {
        display: block !important;
      }

      .slick-prev.slick-arrow {
        transform: translate(-10px, -20px);
        z-index: 10;
      }

      .slick-next.slick-arrow {
        transform: translate(10px, -20px);
        z-index: 10;
      }

      .grid-block-widget {
        a.grid-block-widget__title--white,
        .grid-block-widget__title--sand,
        a.grid-block-widget__title--sand {
          color: $cu-red !important;
        }
        [class*="text--sand"] {
          color: $panther-black;
          a {
            color: $cu-red !important;
          }
        }
        [class*="text--white"] {
          color: $panther-black;
          a {
            color: $cu-red;
          }
        }
        [class*="text--black"] {
          color: white;
          a {
            color: white;
          }
        }
        [class*="text--red"] {
          color: white !important;
          a {
            color: white !important;
          }
        }

        // ONE COL - ACTUAL WIDGET (NOT CONTAINER OR WRAPPER)
        &--landscape {
          --maxHeight: 200px;
        }
      }

      .one-col-text-padding {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    } // END ONE COL - ACTUAL WIDGET (NOT CONTAINER OR WRAPPER)

    .inner-container {
      @include outer-container;
    }

    .section-intro__button {
      background-color: transparent !important;
    }

    .grid-block-widget__container {
      @include respond(phone) {
        padding: 32px 16px;
      }

      &--rotate {
        &.grid-block-widget__container {
          &--square {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .no-bg {
      background-color: transparent !important;
      color: currentColor !important;
    }
    .grid-block-widget__reveal--sand.no-bg {
      color: $cu-red !important;
    }
  }
}

html body .one-column {
  .grid-block-widget__wrapper--red {
    .section-intro__buttons {
      .section-intro__button {
        &:focus {
          border: 2px dotted $white;
        }
      }
    }
  }
  .grid-block-widget__wrapper--red,
  .grid-block-widget__wrapper--black {
    .section-intro__title {
      &[class*="--sand"] {
        a {
          color: $cu-red;
        }
      }
      &[class*="--white"] {
        a {
          color: $cu-red;
        }
      }
      &[class*="--black"] {
        a {
          color: white;
        }
      }
      &[class*="--red"] {
        a {
          color: white;
        }
      }
      a {
        $border-color: $white;
        border-bottom: 2px dotted $white;
        border-color: $white;
      }
    }
    a:focus {
      border-color: $white !important;
      outline-color: $white !important;
    }
    .button:focus,
    a:focus,
    span:focus {
      // outline-color: $white;
      // outline: 2px dotted;
      outline: 2px dotted $white;
      border: none;
    }
    a.grid-block-widget__title:focus {
      outline: 2px dotted $white;
      border: none;
    }
    a.grid-block-widget__button--transparent {
      color: $white !important;
      &:hover,
      &:focus {
        background-color: transparent !important;
      }
      &:focus {
        outline-color: $white !important;
      }
    }
  }

  .grid-block-widget__wrapper--black {
    .grid-block-widget__cta {
      a.button {
        // @include button-bg($cu-red);
      }
    }
  }
  .grid-block-widget__wrapper--red .section-intro__button a.button--red {
    &:hover,
    &:focus,
    &:focus-within {
      background-color: $red-hover;
    }
  }

  .grid-block-widget__wrapper--red .button.button--red {
    color: black !important;
  }

  .grid-block-widget__container .grid-block-widget {
    .text-align--center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .grid-block-widget__title.text-align--center {
      display: block;
      text-align: center;
    }
    .grid-block-widget__title.text-align--right {
      display: block;
      text-align: right;
    }
  }
  .grid-block-widget__text {
    display: flex;
    flex-direction: column;
  }

  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__text
    p {
    padding-left: 24px !important;
    padding-right: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__text {
    margin-bottom: 20px;
  }
  .grid-block-widget__wrapper
    .grid-block-widget__container--circle
    .grid-block-widget__title {
    padding: 20px 0px 10px;
  }

  .grid-block-widget__text.text-align--center p {
    padding-left: 24px !important;
    padding-right: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-block-widget__wrapper.grid-block-widget__wrapper--white {
    color: $panther-black !important;
  }
  .block-widget__reveal--white,
  .block-widget__reveal--sand,
  .block-widget__reveal--black {
    color: $cu-red !important;
    [class*="--white"] {
      color: $cu-red !important;
    }
  }
  .grid-block-widget.grid-block-widget--white
    .grid-block-widget__reveal--white {
    color: $cu-red;
  }
}
