body {
  .section-intro {
    margin-top: 50px;

    font-family: $futura-regular;

    &__preheader {
      color: $red;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    &__header {
      font-weight: bold;
      margin-top: 4px;
      font-size: 3.6rem;
      line-height: 4.4rem;
    }

    &__title {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .grid-block-widget__title {
      border-bottom: none;
    }
    a.grid-block-widget__title {
      border-bottom: 2px dotted currentColor !important;
    }

    &__text {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    &__buttons {
      margin-bottom: 25px;
    }

    &__button {
      background-color: transparent !important;

      a.button {
        border: none;

        &:hover,
        &:focus,
        &:focus-within {
          box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.6);
          transform: translateY(-2px);
          transition: all 0.2s ease;
        }

        &--white {
          $bg: $white;
          color: $panther-black !important;
          background-color: $white !important;

          &:hover,
          &:focus,
          &:focus-within {
            $bg: $white;
            background-color: $white !important;
          }
        }

        &--black {
          &:hover,
          &:focus,
          &:focus-within {
            background-color: black !important;
          }
        }
      }
    }

    .button {
      font-weight: 800;
    }

    &--centered {
      display: grid;
      justify-items: center;
    }
    .text-align {
      &--left-aligned {
        display: flex;
        justify-content: start;
      }
      &--centered {
        display: flex;
        justify-content: center;
      }
      &__button {
        padding: 0 !important;
      }
    }

    &.text-align {
      &--centered {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      &--left {
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
  a.button + a.button {
    margin-left: 12px;
  }
}
