.ie {
  .grid-block-widget__container--3-col {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-block-widget {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 200px;
    width: calc((100% / 3) - 30px);

    &--portrait {
      img {
        min-height: 400px;
        max-height: 400px;
        overflow: hidden;
        min-width: 200px;
        max-width: 100%;
      }
    }

    & > div[class^="grid-block-widget__"] {
      max-width: 100%;
      width: 100%;
    }

    & + .grid-block-widget {
      margin-left: 12px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      flex-wrap: wrap;
      position: relative;
      margin-top: 60px;
    }

    &__container {
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
