:root {
  --gridBlockWidgetColumns: 3;
}

@mixin grid-col($num) {
  .grid-block-widget__container--#{$num}-col {
    grid-template-columns: repeat(#{$num}, 1fr);

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .grid-block-widget {
      display: flex;
      flex-direction: column;
      position: relative;

      min-width: 200px;
      // width: calc((100% / #{$num}) - 12px);
      width: calc((100% / 3) - 30px);

      &--portrait {
        img {
          min-height: 400px;
          max-height: 400px;
          overflow: hidden;
          min-width: 200px;
          max-width: 100%;
        }
      }

      & > div[class^="grid-block-widget__"] {
        max-width: 100%;
        width: 100%;
      }
      & + .grid-block-widget {
        margin-left: 12px;
      }

      &__wrapper {
        // display: table;
        // clear: both;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
        position: relative;
        margin-top: 60px;
      }
      &__container {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

@include grid-col(2);
@include grid-col(3);
@include grid-col(4);
@include grid-col(5);
@include grid-col(6);

.grid-block-widget__container--5-col {
  .grid-block-widget__image--circle {
    --imgSize: 150px;
  }
}

.grid-block-widget__container--6-col {
  &.grid-block-widget__container--landscape {
    // grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-columns: repeat(6, 1fr);
  }

  .grid-block-widget__image--circle {
    --imgSize: 120px;
  }

  &.grid-block-widget__container--portrait {
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    // grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

// .grid-block-widget--white .grid-block-widget__text:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background: -webkit-linear-gradient(
//     top,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(255, 255, 255, 0.9) 100%
//   );
//   /*  height: 100%; */
//   height: 100px;
//   width: 100%;
//   bottom: 0;
// }

// .grid-block-widget--red .grid-block-widget__text:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background: -webkit-linear-gradient(
//     top,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(165, 0, 52, 0.8) 99%
//   );
//   /*  height: 100%; */
//   height: 50px;
//   width: 100%;
//   bottom: 0;
// }
// .grid-block-widget--sand .grid-block-widget__text:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background: -webkit-linear-gradient(
//     top,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(246, 242, 232, 0.9) 99%
//   );
//   /*  height: 100%; */
//   height: 50px;
//   width: 100%;
//   bottom: 0;
// }

// .grid-block-widget--black .grid-block-widget__text:before {
//   content: "";
//   display: block;
//   position: absolute;
//   background: -webkit-linear-gradient(
//     top,
//     rgba(255, 255, 255, 0) 0%,
//     rgba(35, 31, 32, 0.9) 99%
//   );
//   /*  height: 100%; */
//   height: 50px;
//   width: 100%;
//   bottom: 0;
// }

// !!!DON'T MERGE!!!
#uninav {
  // display: none !important;
}

html {
  // padding-top: 0 !important;
}

// END !!!DON'T MERGE!!!
