:root {
  --gridBlockWidgetColumns: 3;
}
.section-intro {
  margin-top: 50px;
  &__preheader {
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__header {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
  }
  &__title {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__text {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__buttons {
    margin-bottom: 25px;
  }
  &__button {
    font-weight: 800;
  }

  &--centered {
    display: grid;
    justify-items: center;
  }
}

.grid-block-widget__container {
  $space: 12px;
  margin-top: $space;
  display: grid;
  grid-gap: $space;

  img {
    &:hover,
    &:focus,
    &:focus-within {
      filter: brightness(110%);
      transition: 350ms ease all;
    }
  }
  &--landscape {
    --imgSize: 200px;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      min-width: 100%;
      height: var(--imgSize);
    }
  }
  &--portrait {
    --imgSize: 400px;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      min-height: var(--imgSize);
      max-height: var(--imgSize);
      min-width: 100%;
    }
    .grid-block-widget {
      height: max-content;
    }
  }

  &--square {
    --imgSize: 250px;
    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: var(--imgSize);
      height: var(--imgSize);
    }
  }
  .grid-block-widget__gradient-overlay {
    display: none;
  }
  &.grid-block-widget__container--overlay {
    .grid-block-widget {
      &:hover,
      &:focus,
      &:focus-within {
        filter: brightness(120%);
        transition: 350ms ease all;

        .grid-block-widget__gradient-overlay {
          transition: 350ms;
          // background: linear-gradient(
          //   to bottom,
          //   rgba(255, 0, 0, 0) 0%,
          //   rgba(0, 0, 0, 0.45) 100%
          // );
        }
      }
      &__gradient-overlay {
        display: block;
        position: absolute;
        background-color: black;
        z-index: 2;
        height: var(--imgSize);
        width: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        );
      }
      &__relative {
        position: relative;
        height: min-content;
        display: block;
      }

      &__title {
        position: absolute;
        bottom: 10px;
        width: 100%;
        background-color: transparent;
        color: $white;
        z-index: 3;
        height: 100%;
        align-items: end;
      }
    }
  }

  .grid-block-widget {
    position: relative;

    &__title {
      border: none !important;
    }
    &--circle {
      --imgSize: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: var(--imgSize);
        height: var(--imgSize);
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        // margin: 25px 0 25px 0;
      }
      a.grid-block-widget,
      .grid-block-widget {
        &__title {
          background-color: transparent;
          color: $red;
        }
      }
    }

    &__title {
      margin-top: 4px;
      color: $red;
      font-size: 1.4rem;
      padding: 12px;
      text-align: center;
      font-weight: 800;
      margin-bottom: unset;

      &--white {
        border: none;
      }
    }
    &__title {
      &--black {
        color: $white;
      }
      &--sand {
        p {
          color: $red;
        }
      }
    }
    &__text {
      font-family: $futura-regular;

      &--truncated {
        max-height: 150px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
      }

      &--white {
        border: none;
      }
    }
    &--white {
      border: none !important;
      color: $red;
    }

    .text-align {
      &--center {
        display: flex;
        justify-content: center;
      }
      &--left {
        display: flex;
        justify-content: start;
        text-align: left;
        padding: 12px 0 12px 0;
      }
    }
    // .GRID-BLOCK-WIDGET PARENT WITH LONG TEXT
    &--text-overflow {
      margin-bottom: 50px;
    }
    &--overlay {
      .grid-block-widget {
        position: relative;
      }
    }
  }

  &--videos {
    .grid-block-widget {
      height: max-content;
    }
    iframe {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  .grid-block-widget__reveal {
    position: absolute;
    margin-top: 20px;
    @include qbal-drop-enter;
    &--more {
      @include qbal-drop-enter;
      &::before {
        content: "\f078 ";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
        font-size: 1.4rem;
      }
    }
    &--less {
      margin-top: 0;
      &::before {
        content: "\f077 ";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
        font-size: 1.4rem;
      }
    }
    cursor: pointer;
  }
  .grid-block-widget__text--revealed {
    @include qbal-grow-enter;
  }
  .grid-block-widget__text:not(.grid-block-widget__text--revealed) {
    @include qbal-slideUp-enter;
  }
}

@mixin grid-col($num) {
  .grid-block-widget__container--#{$num}-col {
    grid-template-columns: repeat(#{$num}, 1fr);

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@include grid-col(2);
@include grid-col(3);
@include grid-col(4);
@include grid-col(5);
@include grid-col(6);

.grid-block-widget__container--5-col {
  .grid-block-widget__image--circle {
    --imgSize: 150px;
  }
  .grid-block-widget__container--portrait img {
    // --imgSize: 150px;
  }
}
.grid-block-widget__container--6-col {
  .grid-block-widget__image--circle {
    --imgSize: 120px;
  }
  .grid-block-widget__container--portrait {
    img {
      min-width: 140px;
      max-width: 140px;
    }
  }
}

// !!!DON'T MERGE!!!
#testing-tools {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 2;
  width: max-content;
  left: 0;
  top: 0;
  height: 100%;
  display: grid;
  align-content: space-evenly;
  padding: 2%;
  resize: both;
  overflow: auto;
}
#uninav-static-placeholder {
  display: none !important;
}

#clone {
  position: relative;
  display: flex;
  justify-content: center;
}

#grid-columns {
  position: relative;
  display: block;
  display: flex;
  justify-content: space-around;
}

#columns {
  width: 100px;
}
#content-editable {
  text-align: center;
}
