.section-intro {
  margin-top: 50px;
  &__preheader {
    color: $red;
    text-transform: uppercase;
    font-weight: bold;

  }
  &__header {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
  }
  &__text{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__buttons {
    margin-bottom: 25px;
  }
  &__button {
    font-weight: 800;
  }

  &--centered {
    display: grid;
    justify-items: center;
  }
}

.grid-block-widget__container {  
  $space: 12px;
  margin-top: $space;
  display: grid;
  grid-gap: $space;

  &--portrait {
    img {
      object-fit: cover;
      height: 100%;
    }
    .grid-block-widget {  
      height: max-content;
    }
  }
  .grid-block-widget { 
    &__text {
    margin-top: 4px;
    p {
      font-size: 1.4rem;
      padding: 12px;
      text-align:center;
      font-weight: 800;
    }
  }
    &--sand {
      color: $red;
    }
    &--white {
      border: none !important;
      color: $red;

    }
  }
  
  &--videos {
    .grid-block-widget {
      height: max-content;
    }
    iframe {
      position: relative;
      height: 100%;
      width: 100%; 
    }
  }
  
  
}

@mixin grid-col($num) {
  .grid-block-widget__container--#{$num}-col {
    grid-template-columns: repeat(#{$num}, 1fr);

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
@include grid-col(2)
@include grid-col(3)
@include grid-col(4)
@include grid-col(5)
@include grid-col(6)
